---
import VideoPlayer from "../VideoPlayer";
---

<div
  class="dark:bg-[#0A0B10] bg-[url('/images/backgrounds/bg-subtle-1-light-1440w-flipped.jpg')] dark:bg-[url('/images/backgrounds/bg-main-dark-2400w.jpg')] dark:lg:bg-[url('/images/backgrounds/bg-footer-dark-800w.jpg')] bg-no-repeat lg:bg-cover dark:bg-right-top bg-left-bottom"
>
  <section class="">
    <div
      class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center"
    >
      <div>
        <h2
          class="text-purple-900 dark:text-slate-300 font-semibold tracking-tighter lg:text-5xl text-3xl"
        >
          Significant of the project
        </h2>
        <div class="max-w-xl md:max-w-6xl mt-6">
          <p class="text-slate-600 dark:text-slate-400">
            This project served as an excellent learning opportunity for
            students associated with the University of Moratuwa, providing
            hands-on experience in implementing database management concepts. It
            emphasized system design, data integrity, and query optimization
            within a practical, real-world context.
          </p>
          <VideoPlayer
            BubuttonCenterColor="#000000"
            buttonPddingColor="#0188DF"
            videoUrl="/images/work/airelineReservation/videos/Airline Reservation System-intro.mp4"
            coverUrl="/images/work/airelineReservation/home1.png"
            client:load
          />
          <p class="text-slate-600 mt-8 dark:text-slate-400">
            Our team successfully navigated the complexities of the project,
            demonstrating expertise in documentation, functional and
            non-functional requirements, and effective database planning. The
            collaboration fostered a positive environment for collaborative work
            and knowledge exchange.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="features" class="">
    <div
      class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center"
    >
      <div class="max-w-xl">
        <h2
          class="text-purple-900 dark:text-slate-300 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl"
        >
          All Features
        </h2>
      </div>

      <!-- <div class="max-w-xl">
      <h2 class="inline-flex items-center text-blue-600">
        <span class="text-base font-medium tracking-tight">Feature</span>
      </h2>

      <h2
        class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
        Build clean clean landing pages with Spazio Bianco
      </h2>
      <div class="max-w-xl mt-6">
        <p class="text-slate-500">
          Secure access to users’ financial data enables you to streamline
          common processes, such as onboarding and creditcard, and build new
          products to help users manage their finances. Because Financial
          Connections is fully interoperable with the rest of lexington, it’s
          easy to connect to users’ accounts to improve creditcard and product
          experiences.
        </p>
      </div>
    </div> -->
      <div>
        <ul
          role="list"
          class="grid grid-cols-1 gap-24 list-none lg:gap-24 mt-6 lg:mt-24"
        >
          <li class="grid md:grid-cols-2 justify-center gap-12 h-[50vh]">
            <div class="">
              <div>
                <p
                  class="font-semibold text-purple-900 dark:text-slate-300 text-2xl"
                >
                  Secure Sign-In
                </p>
              </div>
              <div
                class="mt-12 flex flex-col h-full lg:text-2xl justify-start items-center align-center text-slate-700 dark:text-slate-400"
              >
                <p class="block">
                  Users can easily register for the application by filling out a
                  form that includes essential details. The system verifies and
                  saves the information in the database, and upon completion, a
                  confirmation email is sent to the user.
                </p>
              </div>
            </div>
            <img
              src="/images/work/airelineReservation/aireline signin.png"
              alt="thumbnail"
              class="shadow-xl rounded-4xl mt-12"
            />
          </li>

          <li class="grid md:grid-cols-2 justify-center gap-12 h-[70vh]">
            <div class="md:order-2">
              <div>
                <p
                  class="font-semibold text-purple-900 text-2xl dark:text-slate-300"
                >
                  Booking a flight
                </p>
              </div>
              <div
                class="mt-12 flex flex-col h-full lg:text-2xl justify-start items-center align-center text-slate-700 dark:text-slate-400"
              >
                <p>
                  Under the "booking a flight" section passengers can;
                  <ul class="ml-12 list-disc">
                    <li>selecting the flights,</li>
                    <li>selecting seats, and</li>
                    <li>making payments.</li>
                  </ul>
                  Following the completion of the payments, the passenger will receive
                  an online ticket, which will be emailed to the email address provided
                  by the passenger.
                </p>
                <p>
                  Two extra parameters should be considered by the system when
                  determining the ticket price. 
                  <ul class="ml-12 list-disc">
                    <li>seat category and price,</li>
                    <li>passenger category.</li>
                  </ul>
                </p>
              </div>
            </div>
            <img
              src="/images/work/airelineReservation/booking flight.png"
              alt="thumbnail"
              class="shadow-xl rounded-4xl mt-12"
            />
          </li>

          <li class="grid md:grid-cols-2 justify-center gap-12 h-[50vh]">
            <div class="">
              <div>
                <p
                  class="font-semibold text-purple-900 dark:text-slate-300 text-2xl"
                >
                  View passenger flight details
                </p>
              </div>
              <div
                class="mt-12 flex flex-col h-full lg:text-2xl justify-start items-center align-center text-slate-700 dark:text-slate-400"
              >
                <p class="block">
                  The system allows registered passengers to view their flight details, 
                  including the details of the most recently received flight.
                </p>
              </div>
            </div>
            <img
              src="/images/work/airelineReservation/flight details.png"
              alt="thumbnail"
              class="shadow-xl rounded-4xl mt-12"
            />
          </li>

          <li class="grid md:grid-cols-2 justify-center gap-12 h-[50vh]">
            <div class="md:order-2">
              <div>
                <p
                  class="font-semibold text-purple-900 text-2xl dark:text-slate-300"
                >
                Add new Airport 
                </p>
              </div>
              <div
                class="mt-12 flex flex-col h-full lg:text-2xl justify-start items-center align-center text-slate-700 dark:text-slate-400"
              >
                <p>
                  Flight dispatchers can add the new flight destination details through this feature of "Adding Airports"
                </p>
              </div>
            </div>
            <img
              src="/images/work/airelineReservation/Add Airport.png"
              alt="thumbnail"
              class="shadow-xl rounded-4xl mt-12"
            />
          </li>

          <li class="grid md:grid-cols-2 justify-center gap-12 h-[50vh]">
            <div class="">
              <div>
                <p
                  class="font-semibold text-purple-900 dark:text-slate-300 text-2xl"
                >
                  Add new planes.
                </p>
              </div>
              <div
                class="mt-12 flex flex-col h-full lg:text-2xl justify-start items-center align-center text-slate-700 dark:text-slate-400"
              >
                <p class="block">
                  Flight dispatchers can add the new plane details through this feature of "Adding new Flights"
                </p>
              </div>
            </div>
            <img
              src="/images/work/airelineReservation/Add flight.png"
              alt="thumbnail"
              class="shadow-xl rounded-4xl mt-12"
            />
          </li>

          <li class="grid md:grid-cols-2 justify-center gap-12 h-[50vh]">
            <div class="md:order-2">
              <div>
                <p
                  class="font-semibold text-purple-900 text-2xl dark:text-slate-300"
                >
                  View all flight details
                </p>
              </div>
              <div
                class="mt-12 flex flex-col h-full lg:text-2xl justify-start items-center align-center text-slate-700 dark:text-slate-400"
              >
                <p>
                  The system allows the flight dispatcher to view all flight details.
                  and they can search by the flight ID, destination, and origin
                </p>
              </div>
            </div>
            <img
              src="/images/work/airelineReservation/view all flight details.png"
              alt="thumbnail"
              class="shadow-xl rounded-4xl mt-12"
            />
          </li>

          <li class="grid md:grid-cols-2 justify-center gap-12 h-[80vh]">
            <div class="">
              <div>
                <p
                  class="font-semibold text-purple-900 dark:text-slate-300 text-2xl"
                >
                  Request for Reports.
                </p>
              </div>
              
              <div
                class="mt-12 flex flex-col h-full lg:text-2xl justify-start text-slate-700 dark:text-slate-400"
              >
                <p class="block">
                  The system allows airline administrators to generate several reports using the flight details and other details on the databases. 
                  The reports are described as follows,
                  <ul class="ml-12 list-disc">
                    <li>When a flight ID is entered, the report lists all passengers on the next available flight who are under the age of 18 and those who are over the age of 18.</li>
                    <li>When entering origin and destination, the report displays all past flights, states, and passenger counts.</li>
                  </ul>
                </p>
              </div>
            </div>
            
        
              <img
              src="/images/work/airelineReservation/revenue report.png"
              alt="thumbnail"
              class="shadow-xl rounded-4xl mt-12"
            />
            <img
            src="/images/work/airelineReservation/destinationreport.png"
            alt="thumbnail"
            class="shadow-xl rounded-4xl mt-12"
          />
            <div class="mt-2 h-full lg:text-2xl flex flex-col justify-center items-center align-center text-slate-700 dark:text-slate-400">
              <ul class="ml-12 list-disc">
                <li>When a date range is chosen, the report displays a passenger count as well as a list of passengers who are heading to a given destination.</li>
                <li>A report which displays the total revenue generated by each Aircraft type.</li>
                </ul>
            </div>

      
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="">
    <div
      class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center"
    >
      <div>
        <div class="mt-10">
          <h2
            class="text-purple-900 dark:text-slate-300 font-semibold tracking-tighter lg:text-5xl text-3xl"
          >
            Coloborators
          </h2>
        </div>
      </div>
      <div class="mx-auto text-center lg:text-left mt-12">
        <div>
          <div
            class="gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-1 lg:grid-cols-3"
          >
          <div>
            <div class="space-y-3">
              <div class="lg:inline-flex lg:items-center lg:gap-3">
                <div
                  class="flex items-center justify-center w-8 h-8 text-blue-500 rounded-full bg-slate-100"
                >
                  <img
                    src="/images/work/airelineReservation/sathira.jpg"
                    class="rounded-full"
                    alt="thamindu-image"
                  />
                </div>
                <p
                  class="mt-5 font-semibold text-purple-900 dark:text-slate-400 lg:mt-0"
                >
                  Sathira Liyanapathirana.
                </p>
              </div>
              <p class="text-sm text-slate-600 dark:text-slate-400 mt-5">
                Undergraduate from Department of Computer Scinece Engineering.
              </p>
              <p class="text-sm text-slate-600 dark:text-slate-400 mt-5">
                University of Moratuwa
              </p>
            </div>
          </div>
            <div>
              <div class="space-y-3">
                <div class="lg:inline-flex lg:items-center lg:gap-3">
                  <div
                    class="flex items-center justify-center w-8 h-8 text-blue-500 rounded-full bg-slate-100"
                  >
                    <!-- <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-5 h-5">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M21 7.5l-2.25-1.313M21 7.5v2.25m0-2.25l-2.25 1.313M3 7.5l2.25-1.313M3 7.5l2.25 1.313M3 7.5v2.25m9 3l2.25-1.313M12 12.75l-2.25-1.313M12 12.75V15m0 6.75l2.25-1.313M12 21.75V19.5m0 2.25l-2.25-1.313m0-16.875L12 2.25l2.25 1.313M21 14.25v2.25l-2.25 1.313m-13.5 0L3 16.5v-2.25"
                    ></path>
                  </svg> -->
                    <img
                      src="/images/work/childcare/sahan-caldera.jpg"
                      class="rounded-full"
                      alt="sahan-image"
                    />
                  </div>
                  <p
                    class="mt-5 font-semibold text-purple-900 dark:text-slate-400 lg:mt-0"
                  >
                    Sahan Caldera
                  </p>
                </div>
                <p class="text-sm text-slate-600 mt-5 dark:text-slate-400">
                  Undergraduate from Department of Computer Scinece Engineering.
                </p>
                <p class="text-sm text-slate-600 mt-5 dark:text-slate-400">
                  University of Moratuwa
                </p>
              </div>
            </div>
            <div>
              <div class="space-y-3">
                <div class="lg:inline-flex lg:items-center lg:gap-3">
                  <div
                    class="flex items-center justify-center w-8 h-8 text-blue-500 rounded-full bg-slate-100"
                  >
                    <img
                      src="/images/work/childcare/harshani.jpg"
                      class="rounded-full"
                      alt="thamindu-image"
                    />
                  </div>
                  <p
                    class="mt-5 font-semibold text-purple-900 dark:text-slate-400 lg:mt-0"
                  >
                    Harshani Bandara
                  </p>
                </div>
                <p class="text-sm text-slate-600 dark:text-slate-400 mt-5">
                  Undergraduate from Department of Computer Scinece Engineering.
                </p>
                <p class="text-sm text-slate-600 dark:text-slate-400 mt-5">
                  University of Moratuwa
                </p>
              </div>
            </div>
            <div>
              <div class="space-y-3">
                <div class="lg:inline-flex lg:items-center lg:gap-3">
                  <div
                    class="flex items-center justify-center w-8 h-8 text-blue-500 rounded-full bg-slate-100"
                  >
                    <img
                      src="/images/work/childcare/person.jpg"
                      class="rounded-full"
                      alt="thamindu-image"
                    />
                  </div>
                  <p
                    class="mt-5 font-semibold text-purple-900 dark:text-slate-400 lg:mt-0"
                  >
                    Yasith Heshan.
                  </p>
                </div>
                <p class="text-sm text-slate-600 dark:text-slate-400 mt-5">
                  Undergraduate from Department of Computer Scinece Engineering.
                </p>
                <p class="text-sm text-slate-600 dark:text-slate-400 mt-5">
                  University of Moratuwa
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
