<section>
  <div class="mx-auto relative px-8 py-24 max-w-7xl lg:py-24 lg:px-24 md:px-12 bg-no-repeat  dark:bg-[url('images/backgrounds/bg-subtle-2-dark-800w.jpg')]">
    <div class="relative h-96">
      <img
        class="dark:hidden absolute h-full w-full object-cover rounded-xl"
        src="images/shihan-profile/cover/shihan-cover-2.PNG"
        alt=""
      />
      <img
        class="hidden dark:block absolute h-full w-full object-cover rounded-xl"
        src="images/shihan-profile/cover/shihan-cover-1.jpg"
        alt=""
      />
    </div>

    <div class="mt-12">
      <dl>
        <div class="grid grid-cols-1 gap-12 lg:grid-cols-3">
          <div class="sm:flex-1">
            <h3
              class="text-purple-900 font-semibold mt-6 text-4xl tracking-tighter dark:text-slate-300">
              About Me
            </h3>

            <p class="text-sm text-slate-500 ">@University of Moratuwa</p>
          </div>
          <div class="lg:col-span-2">
            <dt class="font-semibold text-black sm:flex-shrink-0 dark:text-slate-300">Bio</dt>
            <dd class="text-slate-500 mt-1 sm:col-span-2 dark:text-slate-400">
              <p>
                I'm Shihan Vidulanka, a final-year Computer Science Engineering student at the University of Moratuwa.
                 As a passionate full-stack developer with six months of hands-on experience 
                 at 'Creative Software,' I thrive in crafting innovative solutions 
                 using Java, Python, and JavaScript. Welcome to my digital space, where code meets creativity!
              </p>
            </dd>
            <div>
              <dt class="font-semibold text-black dark:text-slate-300 sm:flex-shrink-0 mt-5">
                Skills
              </dt>
              <dd class="text-slate-500 mt-1 sm:col-span-2">
                <ul class="grid sm:grid-cols-2">
                  <li>
                    ⏤<span  class="dark:text-[#c99cf8] text-[#9b62db] ml-1">Desktop App Development</span>
                  </li>
                  <li>
                    ⏤<span  class="dark:text-[#c99cf8] text-[#9b62db] ml-1">Web Development</span>
                  </li>
                  <li>
                    ⏤<span  class="dark:text-[#c99cf8] text-[#9b62db] ml-1">ML-Model-Development</span>
                  </li>
                  <li>
                    ⏤<span  class="dark:text-[#c99cf8] text-[#9b62db] ml-1">Database-Administration</span>
                  </li>
                  <li>
                    ⏤<span  class="dark:text-[#c99cf8] text-[#9b62db] ml-1">UI-Ux-Design</span>
                  </li>
                </ul>
              </dd>
            </div>
            <div>
              <dt class="font-semibold text-black dark:text-slate-300 sm:flex-shrink-0 mt-5">
                Experience
              </dt>
              <dd class="text-slate-500 mt-1 sm:col-span-2">
                <ul class="flex flex-col gap-2 max-w-[280px] md:max-w-[480px]  mt-2">

                  <li>
                      <details class="group">
              
                          <summary
                              class="flex items-center justify-between gap-2 p-2 font-medium marker:content-none hover:cursor-pointer">
              
                              <span class="flex gap-2">
              
              
                                  <img class="w-6 h-6 rounded-lg"
                                      src="https://pbs.twimg.com/profile_images/1651802334383702016/sjqIUMkl_400x400.jpg"
                                      alt="">
              
                                  <span>
                                      Software Engineer Intern 
                                  </span>
                              </span>
                              <svg class="w-5 h-5 text-gray-500 transition group-open:rotate-90" xmlns="http://www.w3.org/2000/svg"
                                  width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd"
                                      d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z">
                                  </path>
                              </svg>
                          </summary>
              
                          <article class="px-4 pb-4">
              
                              <ul class="flex flex-col gap-4 pl-2 mt-4">
                                <li class="flex gap-2">
                                  <svg 
                                    fill="currentColor" fill-rule="nonzero"
                                    height="20px" 
                                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" version="1.1" viewBox="0 0 846.66 846.66" width="8.4666mm" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><style type="text/css">
                                      </style></defs><g id="Layer_x0020_1"><path class="fil0" d="M97.17 185.96l343.73 0 0 -102.62c0,-11.49 9.31,-20.81 20.8,-20.81l287.79 0c11.49,0 20.81,9.32 20.81,20.81l0 659.18 48.48 0c27.36,0 27.36,41.61 0,41.61 -263.63,0 -527.27,0 -790.9,0 -27.36,0 -27.36,-41.61 0,-41.61l48.49 0 0 -535.76c0,-11.48 9.31,-20.8 20.8,-20.8zm212.43 556.56l0 -81.83 -60.33 0 0 81.83 60.33 0zm-101.94 0l0 -102.64c0,-11.48 9.31,-20.8 20.8,-20.8l101.95 0c11.49,0 20.8,9.32 20.8,20.8l0 102.64 89.69 0 0 -514.95 -322.92 0 0 514.95 89.68 0zm335.52 -593.64l124.83 0c11.49,0 20.81,9.31 20.81,20.8l0 374.5c0,11.49 -9.32,20.8 -20.81,20.8l-124.83 0c-11.49,0 -20.81,-9.31 -20.81,-20.8l0 -374.5c0,-11.49 9.32,-20.8 20.81,-20.8zm104.03 41.6l-83.23 0 0 332.89 83.23 0 0 -332.89zm-467.12 211.18l68.66 0c11.49,0 20.8,9.32 20.8,20.81l0 68.65c0,11.49 -9.31,20.81 -20.8,20.81l-68.66 0c-11.49,0 -20.81,-9.32 -20.81,-20.81l0 -68.65c0,-11.49 9.32,-20.81 20.81,-20.81zm47.85 41.61l-27.05 0 0 27.05 27.05 0 0 -27.05zm82.19 -41.61l68.65 0c11.49,0 20.81,9.32 20.81,20.81l0 68.65c0,11.49 -9.32,20.81 -20.81,20.81l-68.65 0c-11.49,0 -20.81,-9.32 -20.81,-20.81l0 -68.65c0,-11.49 9.32,-20.81 20.81,-20.81zm47.85 41.61l-27.05 0 0 27.05 27.05 0 0 -27.05zm-177.89 -174.76l68.66 0c11.49,0 20.8,9.31 20.8,20.8l0 68.66c0,11.49 -9.31,20.8 -20.8,20.8l-68.66 0c-11.49,0 -20.81,-9.31 -20.81,-20.8l0 -68.66c0,-11.49 9.32,-20.8 20.81,-20.8zm47.85 41.61l-27.05 0 0 27.04 27.05 0 0 -27.04zm82.19 -41.61l68.65 0c11.49,0 20.81,9.31 20.81,20.8l0 68.66c0,11.49 -9.32,20.8 -20.81,20.8l-68.65 0c-11.49,0 -20.81,-9.31 -20.81,-20.8l0 -68.66c0,-11.49 9.32,-20.8 20.81,-20.8zm47.85 41.61l-27.05 0 0 27.04 27.05 0 0 -27.04zm124.53 432.4l246.18 0 0 -638.38 -246.18 0 0 638.38z"/></g>
                                  </svg>
                                  <span>
                                      Company : Creative Software
                                  </span>
                              </li>

                              <li class="flex gap-2">
                                <svg 
                                  id="Layer_1" 
                                  style="enable-background:new 0 0 2048 2048;" 
                                  version="1.1" viewBox="0 0 2048 2048" xml:space="preserve" 
                                  xmlns="http://www.w3.org/2000/svg" 
                                  width="30px" height="24px"
                                  xmlns:xlink="http://www.w3.org/1999/xlink"><style type="text/css">
                                  .st0{fill:currentColor;}
                                  .st1{fill:currentColor;}
                                  .st2{fill:rgb(189, 185, 185);}
                                  .st3{fill:rgb(209, 206, 206);}
                                  .st4{fill:currentColor;}
                                  .st5{fill:#ebebeb;}
                                  .st6{fill:currentColor;}
                                  .st7{fill:#ebebeb;}
                                  .st8{fill:currentColor;}
                                  </style><g><g><g><g><path class="st0" d="M1129.61,986.97c-2.81,10.13-5.39,17.47-5,32.83c0.84,31.72,12.69,60.44,24.09,80.78l184.65,184.65H736.79      l167.91-188.37c2.23-2.5,4.07-5.32,5.48-8.37c8.55-18.48,16.53-43.15,17.2-68.7c0.46-17.37-2.92-24.5-6.12-36.98L1129.61,986.97      z"/></g></g><path class="st1" d="M1522.68,1598.19H525.32c-0.12-39.96,0.23-233.77,37.15-352.79c9.08-29.22,19.57-51.43,33.03-71.77    c7.55-11.42,40.65-59.45,105.27-92.3c60.07-30.54,115.7-31.87,142.43-30.78l56.09,50.03l1.17,1.04l123.55,110.14l124.71-111.19    h0.01l56.09-50.03c26.72-1.1,82.36,0.24,142.42,30.78c64.63,32.85,97.71,80.88,105.28,92.3c13.45,20.34,23.93,42.55,33.01,71.77    C1522.45,1364.42,1522.8,1558.23,1522.68,1598.19z"/><g><g><g><path class="st2" d="M748.04,1365.74v232.46H678v-232.46c0-19.34,15.68-35.02,35.02-35.02       C732.36,1330.71,748.04,1346.4,748.04,1365.74z"/></g></g><g><g><path class="st2" d="M1370,1365.74v232.46h-70.04v-232.46c0-19.34,15.68-35.02,35.02-35.02       C1354.34,1330.71,1370,1346.4,1370,1365.74z"/></g></g></g><path class="st3" d="M1248.77,700.35c70.18,22.56,33.94,140.27-20.18,149.38c-5.99,28.12-19.68,75.65-53.09,115.2    c-18.71,22.14-36.77,34.84-41.28,37.94c-9.98,6.86-31.31,21.24-62.95,28.71c-8.39,1.98-40.81,8.98-81.53,0    c-7.9-1.74-45.33-10.53-82.56-41.02c-9.5-7.78-44.9-38.2-63.99-91.27c-6.18-17.19-9.93-37.67-11.35-48.2    c-55.36-16.07-91.38-98.07-30.95-150.83l13.99-146.93l218.75-54c0,0,121.28,30.65,123.47,33.57S1248.77,700.35,1248.77,700.35z"/><path class="st4" d="M1083.46,577.17c-4.66,7.67-12.69,18.48-25.8,26.66c-11.19,6.98-22.5,9.82-33.47,10.89    c-11.55,1.13-23.19,0.07-34.54-2.39c-11.06-2.39-33.49-5.06-74.43-2.23c-23.79,1.64-49.2,2.94-70.68,14.39    c-27.39,14.6-37.1,44.91-42.33,73.45c-0.21,1.15-0.88,2.64-2.02,2.39c-0.48-0.11-0.83-0.52-1.13-0.92    c-8.31-11.03-10.17-28.9-11.63-42.14c-4.64-42.19-4.16-75.62-0.18-85.11c2.41-5.73,14.6-33.75,43.34-61.53    c46.47-44.91,123.01-68.43,161.95-76.51c31.53-6.55,64.87-9.87,97.45-7.6c18.16,1.26,37.18,3.58,54.84,8.05    c14.51,3.67,28.89,10.63,37.61,22.8c9.39,13.11,11.66,29.67,22.9,41.68c12.27,13.11,29,20.93,41.55,33.73    c16.79,17.12,33.5,44.06,35.92,68.21c2.18,21.76-7.36,42.3-18.34,60.43c-2.03,3.35-13.73,41.02-15.71,38.94    c-4.54-4.79-61.95-20.22-107.52-76.01c-10.79-13.21-15.55-18.94-19.61-22.9c-2.71-2.65-11.07-10.57-23.39-19.14    C1094.26,579.52,1085.75,573.3,1083.46,577.17L1083.46,577.17z"/></g><g><g><path class="st5" d="M1313.11,1135.45H734.89c-22.09,0-40,17.91-40,40v374.3h658.22v-374.3     C1353.11,1153.36,1335.2,1135.45,1313.11,1135.45z"/><path class="st6" d="M1328.36,1598.19H719.64c-42.61,0-77.14-34.54-77.14-77.14v-11.3h763v11.3     C1405.5,1563.66,1370.96,1598.19,1328.36,1598.19z"/></g><g><g><g><g><path class="st7" d="M950.3,1387.64c-2.63,0-5.29-0.83-7.55-2.56l-68.86-52.59c-3.08-2.35-4.89-6.01-4.89-9.89        c0-3.88,1.81-7.54,4.89-9.89l68.86-52.59c5.46-4.17,13.27-3.13,17.45,2.34c4.17,5.46,3.13,13.27-2.34,17.45l-55.91,42.7        l55.91,42.7c5.46,4.17,6.51,11.98,2.34,17.45C957.75,1385.96,954.04,1387.64,950.3,1387.64z"/></g><g><path class="st7" d="M1097.7,1387.64c-3.75,0-7.45-1.69-9.9-4.89c-4.17-5.46-3.13-13.27,2.34-17.45l55.91-42.7l-55.91-42.7        c-5.46-4.17-6.51-11.98-2.34-17.45c4.17-5.46,11.98-6.51,17.45-2.34l68.86,52.59c3.08,2.35,4.89,6.01,4.89,9.89        c0,3.88-1.81,7.54-4.89,9.89l-68.86,52.59C1103,1386.81,1100.34,1387.64,1097.7,1387.64z"/></g></g><g><path class="st7" d="M1001.51,1415.57c-1.11,0-2.24-0.15-3.36-0.46c-6.62-1.85-10.49-8.72-8.64-15.34l45-161.03       c1.85-6.62,8.72-10.49,15.34-8.64c6.62,1.85,10.49,8.72,8.64,15.34l-45,161.03       C1011.95,1411.97,1006.95,1415.57,1001.51,1415.57z"/></g></g></g></g><g><path class="st8" d="M1768,1622.19H280c-13.25,0-24-10.75-24-24s10.75-24,24-24h1488c13.25,0,24,10.75,24,24    S1781.25,1622.19,1768,1622.19z"/></g></g>
                                </svg>
        
                                <span>
                                    Title : Software Engineer Intern
                                </span>
                            </li>
              
                                  <li class="flex gap-2">
                                    <svg 
                                        version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                        width="30px" height="24px" viewBox="0 0 485.213 485.212" style="enable-background:new 0 0 485.213 485.212;"
                                        xml:space="preserve"
                                        fill="currentColor">
                                      <g>
                                        <path d="M60.652,75.816V15.163C60.652,6.781,67.433,0,75.817,0c8.38,0,15.161,6.781,15.161,15.163v60.653
                                          c0,8.38-6.781,15.161-15.161,15.161C67.433,90.978,60.652,84.196,60.652,75.816z M318.424,90.978
                                          c8.378,0,15.163-6.781,15.163-15.161V15.163C333.587,6.781,326.802,0,318.424,0c-8.382,0-15.168,6.781-15.168,15.163v60.653
                                          C303.256,84.196,310.042,90.978,318.424,90.978z M485.212,363.906c0,66.996-54.312,121.307-121.303,121.307
                                          c-66.986,0-121.302-54.311-121.302-121.307c0-66.986,54.315-121.3,121.302-121.3C430.9,242.606,485.212,296.919,485.212,363.906z
                                            M454.89,363.906c0-50.161-40.81-90.976-90.98-90.976c-50.166,0-90.976,40.814-90.976,90.976c0,50.171,40.81,90.98,90.976,90.98
                                          C414.08,454.886,454.89,414.077,454.89,363.906z M121.305,181.955H60.652v60.651h60.653V181.955z M60.652,333.584h60.653V272.93
                                          H60.652V333.584z M151.629,242.606h60.654v-60.651h-60.654V242.606z M151.629,333.584h60.654V272.93h-60.654V333.584z
                                            M30.328,360.891V151.628h333.582v60.653h30.327V94c0-18.421-14.692-33.349-32.843-33.349h-12.647v15.166
                                          c0,16.701-13.596,30.325-30.322,30.325c-16.731,0-30.326-13.624-30.326-30.325V60.651H106.14v15.166
                                          c0,16.701-13.593,30.325-30.322,30.325c-16.733,0-30.327-13.624-30.327-30.325V60.651H32.859C14.707,60.651,0.001,75.579,0.001,94
                                          v266.892c0,18.36,14.706,33.346,32.858,33.346h179.424v-30.331H32.859C31.485,363.906,30.328,362.487,30.328,360.891z
                                            M303.256,242.606v-60.651h-60.648v60.651H303.256z M409.399,363.906h-45.49v-45.49c0-8.377-6.781-15.158-15.163-15.158
                                          s-15.159,6.781-15.159,15.158v60.658c0,8.378,6.777,15.163,15.159,15.163h60.653c8.382,0,15.163-6.785,15.163-15.163
                                          C424.562,370.692,417.781,363.906,409.399,363.906z"/>
                                      </g>
                                      <g>
                                      </g>
                                      <g>
                                      </g>
                                      <g>
                                      </g>
                                      <g>
                                      </g>
                                      <g>
                                      </g>
                                      <g>
                                      </g>
                                      <g>
                                      </g>
                                      <g>
                                      </g>
                                      <g>
                                      </g>
                                      <g>
                                      </g>
                                      <g>
                                      </g>
                                      <g>
                                      </g>
                                      <g>
                                      </g>
                                      <g>
                                      </g>
                                      <g>
                                      </g>
                                    </svg>
              
                                      <span >
                                         Duration : 02/01/2023 - 01/07/2023
                                      </span>
                                  </li>

                                  <li class="flex gap-2">
                                    
                                      <svg 
                                        id="Layer_1" 
                                        width="30px" height="20px"
                                        style="enable-background:new 0 0 512 512;" 
                                        version="1.1" viewBox="0 0 512 512" 
                                        xml:space="preserve" xmlns="http://www.w3.org/2000/svg" 
                                        xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <style type="text/css">
                                        .st0{fill:currentColor;}
                                        .st1{fill:currentColor;}
                                      </style><g><path class="st0" d="M476.5,238v-24.7c0-9.2-7.4-16.6-16.6-16.6h-38.4c-4.1-16.6-10.7-32.3-19.3-46.6l27.2-27.2   c6.5-6.5,6.5-17,0-23.5l-34.9-34.9c-6.5-6.5-17-6.5-23.5,0l-27.2,27.2c-14.3-8.6-29.9-15.2-46.6-19.3V34.1   c0-9.2-7.4-16.6-16.6-16.6h-49.3c-9.2,0-16.6,7.4-16.6,16.6v38.4c-16.6,4.1-32.3,10.7-46.6,19.3L141,64.7c-6.5-6.5-17-6.5-23.5,0   L82.6,99.5c-6.5,6.5-6.5,17,0,23.5l27.2,27.2c-8.6,14.3-15.2,30-19.3,46.6H52.1c-9.2,0-16.6,7.4-16.6,16.6V238h107.1   c0-62.7,50.8-113.5,113.5-113.5S369.5,175.4,369.5,238H476.5z"/><path class="st1" d="M325.7,238c0-38.5-31.2-69.7-69.7-69.7c-38.5,0-69.7,31.2-69.7,69.7c0,38.5,31.2,69.7,69.7,69.7   C294.5,307.7,325.7,276.5,325.7,238z"/><path class="st1" d="M151,274.6c0-3.9-3.1-7-7-7H83.1c-3.9,0-7,3.1-7,7v100.9H47.5c-3.9,0-7,3.1-7,7v41.1c2.3-0.4,4.6-0.6,7-0.6   c2.4,0,4.7,0.2,7,0.6v-34.1h28.6c3.9,0,7-3.1,7-7V281.6H144C147.9,281.6,151,278.5,151,274.6z"/><circle class="st1" cx="47.5" cy="465.7" r="28.7"/><circle class="st1" cx="128.5" cy="465.7" r="28.7"/><path class="st1" d="M163,310.1h-34.4c-3.9,0-7,3.1-7,7v106.5c2.3-0.4,4.6-0.6,7-0.6s4.7,0.2,7,0.6v-99.5H163c3.9,0,7-3.1,7-7   C170,313.2,166.8,310.1,163,310.1z"/><circle class="st1" cx="214.1" cy="465.7" r="28.7"/><path class="st1" d="M221.1,423.6v-94.2c0-3.9-3.1-7-7-7c-3.9,0-7,3.1-7,7v94.2c2.3-0.4,4.6-0.6,7-0.6   C216.5,423,218.8,423.2,221.1,423.6z"/><path class="st1" d="M457.5,423.6c2.3-0.4,4.6-0.6,7-0.6c2.4,0,4.7,0.2,7,0.6v-41.1c0-3.9-3.1-7-7-7h-28.6V274.6c0-3.9-3.1-7-7-7   H368c-3.9,0-7,3.1-7,7c0,3.9,3.1,7,7,7h53.9v100.9c0,3.9,3.1,7,7,7h28.6V423.6z"/><circle class="st1" cx="464.5" cy="465.7" r="28.7"/><circle class="st1" cx="383.5" cy="465.7" r="28.7"/><path class="st1" d="M376.5,423.6c2.3-0.4,4.6-0.6,7-0.6s4.7,0.2,7,0.6V317.1c0-3.9-3.1-7-7-7H349c-3.9,0-7,3.1-7,7   c0,3.9,3.1,7,7,7h27.4V423.6z"/><circle class="st1" cx="297.9" cy="465.7" r="28.7"/><path class="st1" d="M290.9,329.4v94.2c2.3-0.4,4.6-0.6,7-0.6c2.4,0,4.7,0.2,7,0.6v-94.2c0-3.9-3.1-7-7-7   C294.1,322.4,290.9,325.6,290.9,329.4z"/></g></svg>
                    
              
              
                                      <span>
                                          Tech-Stack :
                                          <ul class="grid md:grid-cols-2 md:gap-2 md:gap-x-12">
                                            <li>
                                              <span class="max-w-2">
                                                <svg version="1.1"
                                                class="h-[15px] inline-flex"
                                                  id="svg2"  
                                                  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="29px"
                                                  height="33px" viewBox="0 0 297.45 337.342" enable-background="new 0 0 297.45 337.342" xml:space="preserve">
                                                <title  id="title4">Slice 1</title>
                                                <path fill="#D4B830" d="M0,0l27.071,303.62l121.472,33.722l121.811-33.771L297.45,0H0z M138.725,267.6
                                                  c-92.583-18.464,0,0-92.935-18.45l-5.216-58.467c12.459,0,37.379,0,37.379,0l2.652,29.697l20.741,3.035V96.71l-42.319-0.001
                                                  l-3.453-37.254h83.151V267.6z M253.797,96.694H198v38.132h52.479L240.159,249.15l-81.091,18.451v-38.819l46.284-8.426l4.484-48.294
                                                  h-50.769V59.455h98.033L253.797,96.694z"/>
                                                </svg>
                                            </span>- JavaScript
                                          </li>
                                            <li>
                                              <span class="ml-1.5 mr-2  inline-flex dark:hidden">
                                                <svg width="16px" height="16px" viewBox="0 0 256 256" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid">
                                                  <g>
                                                      <path d="M119.616813,0.0688905149 C119.066276,0.118932037 117.314565,0.294077364 115.738025,0.419181169 C79.3775171,3.69690087 45.3192571,23.3131775 23.7481916,53.4631946 C11.7364614,70.2271045 4.05395894,89.2428829 1.15112414,109.384595 C0.12512219,116.415429 0,118.492153 0,128.025062 C0,137.557972 0.12512219,139.634696 1.15112414,146.665529 C8.10791789,194.730411 42.3163245,235.11392 88.7116325,250.076335 C97.0197458,252.753556 105.778299,254.580072 115.738025,255.680985 C119.616813,256.106338 136.383187,256.106338 140.261975,255.680985 C157.453763,253.779407 172.017986,249.525878 186.382014,242.194795 C188.584164,241.068861 189.00958,240.768612 188.709286,240.518404 C188.509091,240.36828 179.124927,227.782837 167.86393,212.570214 L147.393939,184.922273 L121.743891,146.965779 C107.630108,126.098464 96.0187683,109.034305 95.9186706,109.034305 C95.8185728,109.009284 95.7184751,125.873277 95.6684262,146.465363 C95.5933529,182.52028 95.5683284,183.971484 95.1178886,184.82219 C94.4672532,186.048207 93.9667644,186.548623 92.915738,187.099079 C92.114956,187.499411 91.4142717,187.574474 87.6355816,187.574474 L83.3063539,187.574474 L82.1552297,186.848872 C81.4044966,186.373477 80.8539589,185.747958 80.4785924,185.022356 L79.9530792,183.896422 L80.0031281,133.729796 L80.0782014,83.5381493 L80.8539589,82.5623397 C81.25435,82.0369037 82.1051808,81.3613431 82.7057674,81.0360732 C83.7317693,80.535658 84.1321603,80.4856165 88.4613881,80.4856165 C93.5663734,80.4856165 94.4172043,80.6857826 95.7434995,82.1369867 C96.1188661,82.5373189 110.007429,103.454675 126.623656,128.650581 C143.239883,153.846488 165.962072,188.250034 177.122972,205.139048 L197.392766,235.839522 L198.418768,235.163961 C207.502639,229.259062 217.112023,220.852086 224.719453,212.09482 C240.910264,193.504394 251.345455,170.835585 254.848876,146.665529 C255.874878,139.634696 256,137.557972 256,128.025062 C256,118.492153 255.874878,116.415429 254.848876,109.384595 C247.892082,61.3197135 213.683675,20.9362052 167.288368,5.97379012 C159.105376,3.32158945 150.396872,1.49507389 140.637341,0.394160408 C138.234995,0.143952798 121.693842,-0.131275573 119.616813,0.0688905149 L119.616813,0.0688905149 Z M172.017986,77.4831252 C173.219159,78.0836234 174.195112,79.2345784 174.545455,80.435575 C174.74565,81.0861148 174.795699,94.9976579 174.74565,126.348671 L174.670577,171.336 L166.73783,159.17591 L158.780059,147.01582 L158.780059,114.313685 C158.780059,93.1711423 158.880156,81.2862808 159.030303,80.7108033 C159.430694,79.3096407 160.306549,78.2087272 161.507722,77.5581875 C162.533724,77.0327515 162.909091,76.98271 166.837928,76.98271 C170.541544,76.98271 171.19218,77.0327515 172.017986,77.4831252 Z" fill="#000000"></path>
                                                  </g>
                                              </svg>
                                              </span>
                                              <span class="ml-1.5 mr-2 hidden dark:inline-flex">
                                                <svg 
                                                  fill="none" height="15" 
                                                  viewBox="0 0 15 15" width="15" 
                                                  xmlns="http://www.w3.org/2000/svg">
                                                  <path d="M4.5 4.5L4.90534 4.20725C4.77836 4.03144 4.55252 3.95753 4.34617 4.02425C4.13981 4.09098 4 4.28313 4 4.5H4.5ZM7.5 14C3.91015 14 1 11.0899 1 7.5H0C0 11.6421 3.35786 15 7.5 15V14ZM14 7.5C14 11.0899 11.0899 14 7.5 14V15C11.6421 15 15 11.6421 15 7.5H14ZM7.5 1C11.0899 1 14 3.91015 14 7.5H15C15 3.35786 11.6421 0 7.5 0V1ZM7.5 0C3.35786 0 0 3.35786 0 7.5H1C1 3.91015 3.91015 1 7.5 1V0ZM5 12V4.5H4V12H5ZM4.09466 4.79275L10.5947 13.7927L11.4053 13.2073L4.90534 4.20725L4.09466 4.79275ZM10 4V10H11V4H10Z" fill="white"/>
                                                </svg>
                                              </span> - Nextjs
                                            </li>
                                            <li>
                                              <span class="ml-1.5 mr-2  inline-flex">
                                                <svg 
                                                  xmlns="http://www.w3.org/2000/svg"
                                                  width="16px" 
                                                  viewBox="0 0 128 128">
                                                  <path fill="#83CD29" d="M112.771 30.334l-44.097-25.605c-2.781-1.584-6.402-1.584-9.205 0l-44.568 25.605c-2.87 1.651-4.901 4.754-4.901 8.073v51.142c0 3.319 2.084 6.423 4.954 8.083l11.775 6.688c5.628 2.772 7.617 2.772 10.178 2.772 8.333 0 13.093-5.039 13.093-13.828v-50.49c0-.713-.371-1.774-1.071-1.774h-5.623c-.712 0-2.306 1.061-2.306 1.773v50.49c0 3.896-3.524 7.773-10.11 4.48l-12.167-7.013c-.424-.23-.723-.693-.723-1.181v-51.142c0-.482.555-.966.982-1.213l44.424-25.561c.415-.235 1.025-.235 1.439 0l43.882 25.555c.42.253.272.722.272 1.219v51.142c0 .488.183.963-.232 1.198l-44.086 25.576c-.378.227-.847.227-1.261 0l-11.307-6.749c-.341-.198-.746-.269-1.073-.086-3.146 1.783-3.726 2.02-6.677 3.043-.726.253-1.797.692.41 1.929l14.798 8.754c1.417.82 3.027 1.246 4.647 1.246 1.642 0 3.25-.426 4.667-1.246l43.885-25.582c2.87-1.672 4.23-4.764 4.23-8.083v-51.142c0-3.319-1.36-6.414-4.229-8.073zM77.91 81.445c-11.726 0-14.309-3.235-15.17-9.066-.1-.628-.633-1.379-1.272-1.379h-5.731c-.709 0-1.279.86-1.279 1.566 0 7.466 4.059 16.512 23.453 16.512 14.039 0 22.088-5.455 22.088-15.109 0-9.572-6.467-12.084-20.082-13.886-13.762-1.819-15.16-2.738-15.16-5.962 0-2.658 1.184-6.203 11.374-6.203 9.105 0 12.461 1.954 13.842 8.091.118.577.645.991 1.24.991h5.754c.354 0 .692-.143.94-.396.24-.272.367-.613.335-.979-.891-10.568-7.912-15.493-22.112-15.493-12.631 0-20.166 5.334-20.166 14.275 0 9.698 7.497 12.378 19.622 13.577 14.505 1.422 15.633 3.542 15.633 6.395 0 4.955-3.978 7.066-13.309 7.066z"/>
                                              </svg>
                                              </span> - NodeJS
                                            </li>
                                            <li>
                                              <span class="ml-1.5 mr-2  inline-flex">
                                                <svg 
                                                  xmlns="http://www.w3.org/2000/svg"
                                                  width="16px" 
                                                  viewBox="0 0 32 32">
                                                  <title>file_type_nestjs</title>
                                                  <path d="M18.487,2a1.781,1.781,0,0,0-.564.1c1.615,1.062-.29,2.6.6,3.9A2.235,2.235,0,0,1,19.6,3.765c.285-.237.468-.322.407-.714C19.908,2.409,19.052,2,18.487,2Zm2.3.414c-.223,1.123-.5,1.164-1.323,1.887a1.821,1.821,0,0,0-.527,2.191c-3.4-1.32-7.758-2.118-10.953.166-1.149.821-1.85,2-3.267,2.481-.916.314-1.816.221-2.39,1.129A1.413,1.413,0,0,0,2.383,12.1c.171.175.5.287.636.465.079.1.077.2.152.333a2.6,2.6,0,0,0,.564.828c.147.121.652.239.738.368.108.161-.172.8.063.9.158.073.621-.744.666-.816-.092.643-.213,1.784.51.834.343-.451.364-.6.941-.7a8.2,8.2,0,0,1,1.117-.116,8.362,8.362,0,0,1,8.622,7.622c-.108-.5-.761-1.3-1.369-1.11-.259.08-.355.527-.525.786a3.773,3.773,0,0,1-.785.868,4.687,4.687,0,0,0-.072-1.452c-.182.748-.547,1.989-1.466,1.788a1.652,1.652,0,0,1-1.328-1.142c-.119-.76.684-1.651-.607-1.714-2.59-.127-1.991,3.682-.462,4.675a3.272,3.272,0,0,0-1.015.283,6.893,6.893,0,0,0,10.276-4.922,7.058,7.058,0,0,1-.015,3.085,7.213,7.213,0,0,1-.554,1.559,6.781,6.781,0,0,1-1.3,1.81c-.314.311-.89.624-1.088.941a13.409,13.409,0,0,0,3.52-.968A11.638,11.638,0,0,1,15.1,30a11.589,11.589,0,0,0,9.3-5.909,11.657,11.657,0,0,1-1.945,4.668,11.531,11.531,0,0,0,4.975-7.783,11.622,11.622,0,0,1,.209,3.5A12.418,12.418,0,0,0,29.528,13.91a15.755,15.755,0,0,0-1.689-3.962A14.838,14.838,0,0,0,26.9,8.554c-.133-.173-.844-.806-.844-1q-.009.029-.015,0c0,3.248-3.5,5.333-6.431,4.463A5,5,0,0,0,24.156,7.85,5,5,0,0,0,20.787,2.414Z" style="fill:#ea2845;fill-rule:evenodd"/>
                                                </svg>
                                              </span> - NestJs
                                            </li>
                                            <li>
                                              <span class="ml-1.5 mr-2  inline-flex">
                                                <svg 
                                                  id="typescript" 
                                                  xmlns="http://www.w3.org/2000/svg" 
                                                  width="16px" 
                                                  viewBox="0 0 128 128">
                                                  <defs>
                                                      <style>.cls-1{fill:#fff;}.cls-2{fill:#007acc;}</style>
                                                      </defs>
                                                  <title>Artboard 3</title>
                                                  <g id="original">
                                                  <rect class="cls-1" x="22.67" y="47" width="99.67" height="73.67"/>
                                                  <path id="original-2" data-name="original" class="cls-2" d="M1.5,63.91v62.5h125V1.41H1.5Zm100.73-5a15.56,15.56,0,0,1,7.82,4.5,20.58,20.58,0,0,1,3,4c0,.16-5.4,3.81-8.69,5.85-.12.08-.6-.44-1.13-1.23a7.09,7.09,0,0,0-5.87-3.53c-3.79-.26-6.23,1.73-6.21,5a4.58,4.58,0,0,0,.54,2.34c.83,1.73,2.38,2.76,7.24,4.86,8.95,3.85,12.78,6.39,15.16,10,2.66,4,3.25,10.46,1.45,15.24-2,5.2-6.9,8.73-13.83,9.9a38.32,38.32,0,0,1-9.52-.1,23,23,0,0,1-12.72-6.63c-1.15-1.27-3.39-4.58-3.25-4.82a9.34,9.34,0,0,1,1.15-.73L82,101l3.59-2.08.75,1.11a16.78,16.78,0,0,0,4.74,4.54c4,2.1,9.46,1.81,12.16-.62a5.43,5.43,0,0,0,.69-6.92c-1-1.39-3-2.56-8.59-5-6.45-2.78-9.23-4.5-11.77-7.24a16.48,16.48,0,0,1-3.43-6.25,25,25,0,0,1-.22-8c1.33-6.23,6-10.58,12.82-11.87A31.66,31.66,0,0,1,102.23,58.93ZM72.89,64.15l0,5.12H56.66V115.5H45.15V69.26H28.88v-5A49.19,49.19,0,0,1,29,59.09C29.08,59,39,59,51,59L72.83,59Z"/>
                                                  </g>
                                                </svg>
                                              </span> - TypeScript
                                            </li>
                                            <li>
                                              <span class="ml-1.5 mr-[12px]  inline-flex">
                                                <svg 
                                                  width="16px" height="16px" 
                                                  viewBox="-4 0 264 264" 
                                                  xmlns="http://www.w3.org/2000/svg" 
                                                  preserveAspectRatio="xMinYMin meet">
                                                  <path d="M255.008 158.086c-1.535-4.649-5.556-7.887-10.756-8.664-2.452-.366-5.26-.21-8.583.475-5.792 1.195-10.089 1.65-13.225 1.738 11.837-19.985 21.462-42.775 27.003-64.228 8.96-34.689 4.172-50.492-1.423-57.64C233.217 10.847 211.614.683 185.552.372c-13.903-.17-26.108 2.575-32.475 4.549-5.928-1.046-12.302-1.63-18.99-1.738-12.537-.2-23.614 2.533-33.079 8.15-5.24-1.772-13.65-4.27-23.362-5.864-22.842-3.75-41.252-.828-54.718 8.685C6.622 25.672-.937 45.684.461 73.634c.444 8.874 5.408 35.874 13.224 61.48 4.492 14.718 9.282 26.94 14.237 36.33 7.027 13.315 14.546 21.156 22.987 23.972 4.731 1.576 13.327 2.68 22.368-4.85 1.146 1.388 2.675 2.767 4.704 4.048 2.577 1.625 5.728 2.953 8.875 3.74 11.341 2.835 21.964 2.126 31.027-1.848.056 1.612.099 3.152.135 4.482.06 2.157.12 4.272.199 6.25.537 13.374 1.447 23.773 4.143 31.049.148.4.347 1.01.557 1.657 1.345 4.118 3.594 11.012 9.316 16.411 5.925 5.593 13.092 7.308 19.656 7.308 3.292 0 6.433-.432 9.188-1.022 9.82-2.105 20.973-5.311 29.041-16.799 7.628-10.86 11.336-27.217 12.007-52.99.087-.729.167-1.425.244-2.088l.16-1.362 1.797.158.463.031c10.002.456 22.232-1.665 29.743-5.154 5.935-2.754 24.954-12.795 20.476-26.351"/>
                                                  <path d="M237.906 160.722c-29.74 6.135-31.785-3.934-31.785-3.934 31.4-46.593 44.527-105.736 33.2-120.211-30.904-39.485-84.399-20.811-85.292-20.327l-.287.052c-5.876-1.22-12.451-1.946-19.842-2.067-13.456-.22-23.664 3.528-31.41 9.402 0 0-95.43-39.314-90.991 49.444.944 18.882 27.064 142.873 58.218 105.422 11.387-13.695 22.39-25.274 22.39-25.274 5.464 3.63 12.006 5.482 18.864 4.817l.533-.452c-.166 1.7-.09 3.363.213 5.332-8.026 8.967-5.667 10.541-21.711 13.844-16.235 3.346-6.698 9.302-.471 10.86 7.549 1.887 25.013 4.561 36.813-11.958l-.47 1.885c3.144 2.519 5.352 16.383 4.982 28.952-.37 12.568-.617 21.197 1.86 27.937 2.479 6.74 4.948 21.905 26.04 17.386 17.623-3.777 26.756-13.564 28.027-29.89.901-11.606 2.942-9.89 3.07-20.267l1.637-4.912c1.887-15.733.3-20.809 11.157-18.448l2.64.232c7.99.363 18.45-1.286 24.589-4.139 13.218-6.134 21.058-16.377 8.024-13.686h.002" fill="#336791"/>
                                                  <path d="M108.076 81.525c-2.68-.373-5.107-.028-6.335.902-.69.523-.904 1.129-.962 1.546-.154 1.105.62 2.327 1.096 2.957 1.346 1.784 3.312 3.01 5.258 3.28.282.04.563.058.842.058 3.245 0 6.196-2.527 6.456-4.392.325-2.336-3.066-3.893-6.355-4.35M196.86 81.599c-.256-1.831-3.514-2.353-6.606-1.923-3.088.43-6.082 1.824-5.832 3.659.2 1.427 2.777 3.863 5.827 3.863.258 0 .518-.017.78-.054 2.036-.282 3.53-1.575 4.24-2.32 1.08-1.136 1.706-2.402 1.591-3.225" fill="#FFF"/>
                                                  <path d="M247.802 160.025c-1.134-3.429-4.784-4.532-10.848-3.28-18.005 3.716-24.453 1.142-26.57-.417 13.995-21.32 25.508-47.092 31.719-71.137 2.942-11.39 4.567-21.968 4.7-30.59.147-9.463-1.465-16.417-4.789-20.665-13.402-17.125-33.072-26.311-56.882-26.563-16.369-.184-30.199 4.005-32.88 5.183-5.646-1.404-11.801-2.266-18.502-2.376-12.288-.199-22.91 2.743-31.704 8.74-3.82-1.422-13.692-4.811-25.765-6.756-20.872-3.36-37.458-.814-49.294 7.571-14.123 10.006-20.643 27.892-19.38 53.16.425 8.501 5.269 34.653 12.913 59.698 10.062 32.964 21 51.625 32.508 55.464 1.347.449 2.9.763 4.613.763 4.198 0 9.345-1.892 14.7-8.33a529.832 529.832 0 0 1 20.261-22.926c4.524 2.428 9.494 3.784 14.577 3.92.01.133.023.266.035.398a117.66 117.66 0 0 0-2.57 3.175c-3.522 4.471-4.255 5.402-15.592 7.736-3.225.666-11.79 2.431-11.916 8.435-.136 6.56 10.125 9.315 11.294 9.607 4.074 1.02 7.999 1.523 11.742 1.523 9.103 0 17.114-2.992 23.516-8.781-.197 23.386.778 46.43 3.586 53.451 2.3 5.748 7.918 19.795 25.664 19.794 2.604 0 5.47-.303 8.623-.979 18.521-3.97 26.564-12.156 29.675-30.203 1.665-9.645 4.522-32.676 5.866-45.03 2.836.885 6.487 1.29 10.434 1.289 8.232 0 17.731-1.749 23.688-4.514 6.692-3.108 18.768-10.734 16.578-17.36zm-44.106-83.48c-.061 3.647-.563 6.958-1.095 10.414-.573 3.717-1.165 7.56-1.314 12.225-.147 4.54.42 9.26.968 13.825 1.108 9.22 2.245 18.712-2.156 28.078a36.508 36.508 0 0 1-1.95-4.009c-.547-1.326-1.735-3.456-3.38-6.404-6.399-11.476-21.384-38.35-13.713-49.316 2.285-3.264 8.084-6.62 22.64-4.813zm-17.644-61.787c21.334.471 38.21 8.452 50.158 23.72 9.164 11.711-.927 64.998-30.14 110.969a171.33 171.33 0 0 0-.886-1.117l-.37-.462c7.549-12.467 6.073-24.802 4.759-35.738-.54-4.488-1.05-8.727-.92-12.709.134-4.22.692-7.84 1.232-11.34.663-4.313 1.338-8.776 1.152-14.037.139-.552.195-1.204.122-1.978-.475-5.045-6.235-20.144-17.975-33.81-6.422-7.475-15.787-15.84-28.574-21.482 5.5-1.14 13.021-2.203 21.442-2.016zM66.674 175.778c-5.9 7.094-9.974 5.734-11.314 5.288-8.73-2.912-18.86-21.364-27.791-50.624-7.728-25.318-12.244-50.777-12.602-57.916-1.128-22.578 4.345-38.313 16.268-46.769 19.404-13.76 51.306-5.524 64.125-1.347-.184.182-.376.352-.558.537-21.036 21.244-20.537 57.54-20.485 59.759-.002.856.07 2.068.168 3.735.362 6.105 1.036 17.467-.764 30.334-1.672 11.957 2.014 23.66 10.111 32.109a36.275 36.275 0 0 0 2.617 2.468c-3.604 3.86-11.437 12.396-19.775 22.426zm22.479-29.993c-6.526-6.81-9.49-16.282-8.133-25.99 1.9-13.592 1.199-25.43.822-31.79-.053-.89-.1-1.67-.127-2.285 3.073-2.725 17.314-10.355 27.47-8.028 4.634 1.061 7.458 4.217 8.632 9.645 6.076 28.103.804 39.816-3.432 49.229-.873 1.939-1.698 3.772-2.402 5.668l-.546 1.466c-1.382 3.706-2.668 7.152-3.465 10.424-6.938-.02-13.687-2.984-18.819-8.34zm1.065 37.9c-2.026-.506-3.848-1.385-4.917-2.114.893-.42 2.482-.992 5.238-1.56 13.337-2.745 15.397-4.683 19.895-10.394 1.031-1.31 2.2-2.794 3.819-4.602l.002-.002c2.411-2.7 3.514-2.242 5.514-1.412 1.621.67 3.2 2.702 3.84 4.938.303 1.056.643 3.06-.47 4.62-9.396 13.156-23.088 12.987-32.921 10.526zm69.799 64.952c-16.316 3.496-22.093-4.829-25.9-14.346-2.457-6.144-3.665-33.85-2.808-64.447.011-.407-.047-.8-.159-1.17a15.444 15.444 0 0 0-.456-2.162c-1.274-4.452-4.379-8.176-8.104-9.72-1.48-.613-4.196-1.738-7.46-.903.696-2.868 1.903-6.107 3.212-9.614l.549-1.475c.618-1.663 1.394-3.386 2.214-5.21 4.433-9.848 10.504-23.337 3.915-53.81-2.468-11.414-10.71-16.988-23.204-15.693-7.49.775-14.343 3.797-17.761 5.53-.735.372-1.407.732-2.035 1.082.954-11.5 4.558-32.992 18.04-46.59 8.489-8.56 19.794-12.788 33.568-12.56 27.14.444 44.544 14.372 54.366 25.979 8.464 10.001 13.047 20.076 14.876 25.51-13.755-1.399-23.11 1.316-27.852 8.096-10.317 14.748 5.644 43.372 13.315 57.129 1.407 2.521 2.621 4.7 3.003 5.626 2.498 6.054 5.732 10.096 8.093 13.046.724.904 1.426 1.781 1.96 2.547-4.166 1.201-11.649 3.976-10.967 17.847-.55 6.96-4.461 39.546-6.448 51.059-2.623 15.21-8.22 20.875-23.957 24.25zm68.104-77.936c-4.26 1.977-11.389 3.46-18.161 3.779-7.48.35-11.288-.838-12.184-1.569-.42-8.644 2.797-9.547 6.202-10.503.535-.15 1.057-.297 1.561-.473.313.255.656.508 1.032.756 6.012 3.968 16.735 4.396 31.874 1.271l.166-.033c-2.042 1.909-5.536 4.471-10.49 6.772z" fill="#FFF"/>
                                                </svg>
                                              </span>- PostgreSQl</li>
                                          </ul>
                                      </span>
                                  </li>
              
              
                              </ul>
              
                          </article>
              
                      </details>
                  </li>
              
              </ul>
              </dd>
            </div>
          </div>
        </div>
      </dl>
    </div>
  </div>
</section>
