---
import BaseLayout from "../layouts/BaseLayout.astro";

import HeaderOne from "../components/headers/HeaderOne.astro";
import TestCarousel from "../components/testimonials/TestCarousel.astro";
import Aboutme from "../components/events/Aboutme.astro";
---


<BaseLayout title="Home">
  <HeaderOne />
  <div class="dark:bg-none bg-[url('/images/backgrounds/bg-subtle-2-light-1440w.jpg')] pb-[100px] bg-contain bg-no-repeat bg-right-top h-full ">
    <Aboutme />
    <TestCarousel />
  </div>

</BaseLayout>
