<div class="dark:bg-[#0A0B10]  bg-[url('/images/backgrounds/bg-subtle-1-light-1440w-flipped.jpg')]  dark:bg-[url('/images/backgrounds/bg-main-dark-2400w.jpg')] dark:lg:bg-[url('/images/backgrounds/bg-footer-dark-800w.jpg')] bg-no-repeat lg:bg-cover dark:bg-right-top bg-left-bottom">
  <section class="">
    <div
      class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2
          class="text-purple-900 dark:text-slate-300 font-semibold tracking-tighter lg:text-5xl text-3xl">
          Significant of the project
        </h2>
        <div class="max-w-xl md:max-w-6xl mt-6">
          <p class="text-slate-600 dark:text-slate-400">
            This project showcased our team's expertise in implementing Model-View-Controller 
            (MVC) design in web applications. Our use of UML diagrams, event tables, and state machines 
            allowed for a clear and organized representation of the system's functionality. 
          </p>
          <p class="text-slate-600 mt-8 dark:text-slate-400">
            We successfully 
            navigated through the complexities of separate use cases, events, and state changes, implementing 
            design patterns to enhance the application's efficiency. The Childcare Management 
            System stands as a testament to our commitment to innovative solutions, 
            especially in the face of unique challenges such as those posed by the global pandemic.
          </p>
        </div>

      </div>
    </div>
  </section>
<section id="features" class="">
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
    <div class="max-w-xl">
      <h2
        class="text-purple-900 dark:text-slate-300 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
        All Features 
      </h2>
    </div>
    
    <!-- <div class="max-w-xl">
      <h2 class="inline-flex items-center text-blue-600">
        <span class="text-base font-medium tracking-tight">Feature</span>
      </h2>

      <h2
        class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
        Build clean clean landing pages with Spazio Bianco
      </h2>
      <div class="max-w-xl mt-6">
        <p class="text-slate-500">
          Secure access to users’ financial data enables you to streamline
          common processes, such as onboarding and creditcard, and build new
          products to help users manage their finances. Because Financial
          Connections is fully interoperable with the rest of lexington, it’s
          easy to connect to users’ accounts to improve creditcard and product
          experiences.
        </p>
      </div>
    </div> -->
    <div>
      <ul
        role="list"
        class="grid grid-cols-1 lg:grid-cols-2 gap-24 list-none lg:gap-24 mt-6 lg:mt-24">
        <li class="flex flex-col justify-between">
          <div>
            <p class="font-semibold text-purple-900 dark:text-slate-300 text-2xl">Secure Parent Sign-In</p>
          </div>
          <div class="mt-2 text-slate-700 dark:text-slate-400">
            Parents could sign in using the child's details, birth certificate,
            and parent ID documents for added security.
            Admin verification based on birth certificate details ensured the accuracy of accounts.
          </div>
          <img
            src="/images/work/childcare/childcare-signin.png"
            alt="thumbnail"
            class="shadow-xl rounded-4xl mt-12"
          />
        </li>
        <li class="flex flex-col justify-between">
          <div>
            <p class="font-semibold text-purple-900 text-2xl dark:text-slate-300">
              Vaccination Management
            </p>
          </div>
          <div class="mt-2 text-slate-700 dark:text-slate-400">
            Parents could choose vaccines and specify vaccination dates during the sign-in process.
            System accommodated changes to vaccination dates if administered later than expected.

          </div>
          <img
            src="/images/work/childcare/childcare-vactination.png"
            alt="thumbnail"
            class="shadow-xl rounded-4xl mt-12"
          />
        </li>
        <li class="flex flex-col justify-between">
          <div>
            <p class="font-semibold text-purple-900 text-2xl dark:text-slate-300">
              Automated Notifications
            </p>
          </div>
          <div class="mt-2 text-slate-700 dark:text-slate-400">
            The system sent timely notifications to parents, including vaccination details, 
            a week before scheduled dates.
            Parents could request date changes through the system if unable to attend.
          </div>
          <img
            src="/images/work/childcare/childcare-notification.png"
            alt="thumbnail"
            class="shadow-xl rounded-4xl mt-12"
          />
        </li>
        <li class="flex flex-col justify-between">
          <div>
            <p class="font-semibold text-purple-900 text-2xl dark:text-slate-300">
              Medical Advice and Communication
            </p>
          </div>
          <div class="mt-2 text-slate-700 dark:text-slate-400">
            Main doctors could provide medical advice through the system.
            Then the parents have the ability to contact doctors directly 
            through the platform and get medical advices.
          </div>
          <img
            src="/images/work/childcare/childcare-advice.png"
            alt="thumbnail"
            class="shadow-xl rounded-4xl mt-12"
          />
        </li>
        <li class="flex flex-col justify-between">
          <div>
            <p class="font-semibold text-purple-900 text-2xl dark:text-slate-300">
              Midwife-Managed Weight Recordings
            </p>
          </div>
          <div class="mt-2 text-slate-700 dark:text-slate-400">
            A dedicated midwife updated the system monthly with the height and weight of each child.
            System-generated graphical progress reports helped monitor each child's development.

          </div>
          <img
            src="/images/work/childcare/childcare-signin.png"
            alt="thumbnail"
            class="shadow-xl rounded-4xl mt-12"
          />
        </li>
        <li class="flex flex-col justify-between">
          <div>
            <p class="font-semibold text-purple-900 text-2xl dark:text-slate-300">
              Thriposha Distribution
            </p>
          </div>
          <div class="mt-2 text-slate-700 dark:text-slate-400">
            The midwife could schedule visits to deliver "Thriposha" to the child, ensuring holistic care.
            This helps to ensure the continous destribution of nutritious food for needy childs.
          </div>
          <img
            src="/images/work/childcare/childcare-report.png"
            alt="thumbnail"
            class="shadow-xl rounded-4xl mt-12"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="">
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
    <div> 
      <div class="mt-10">
        <h2
        class="text-purple-900 dark:text-slate-300 font-semibold tracking-tighter lg:text-5xl text-3xl">
        Coloborators
      </h2>
      </div>
    </div>
    <div class="mx-auto text-center lg:text-left mt-12">
      <div>
        <div class="gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-1 lg:grid-cols-3">
          <div>
            <div class="space-y-3">
              <div class="lg:inline-flex lg:items-center lg:gap-3">
                <div
                  class="flex items-center justify-center w-8 h-8 text-blue-500 rounded-full bg-slate-100">
                  <!-- <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-5 h-5">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M21 7.5l-2.25-1.313M21 7.5v2.25m0-2.25l-2.25 1.313M3 7.5l2.25-1.313M3 7.5l2.25 1.313M3 7.5v2.25m9 3l2.25-1.313M12 12.75l-2.25-1.313M12 12.75V15m0 6.75l2.25-1.313M12 21.75V19.5m0 2.25l-2.25-1.313m0-16.875L12 2.25l2.25 1.313M21 14.25v2.25l-2.25 1.313m-13.5 0L3 16.5v-2.25"
                    ></path>
                  </svg> -->
                  <img src="/images/work/childcare/sahan-caldera.jpg" class="rounded-full" alt="sahan-image">
                </div>
                <p class="mt-5 font-semibold text-purple-900 dark:text-slate-400 lg:mt-0">
                  Sahan Caldera
                </p>
              </div>
              <p class="text-sm text-slate-600 mt-5 dark:text-slate-400">
                Undergraduate from Department of Computer Scinece Engineering.
              </p>
              <p class="text-sm text-slate-600 mt-5 dark:text-slate-400">
                University of Moratuwa
              </p>
            </div>
          </div>
          <div>
            <div class="space-y-3">
              <div class="lg:inline-flex lg:items-center lg:gap-3">
                <div
                  class="flex items-center justify-center w-8 h-8 text-blue-500 rounded-full bg-slate-100">
                  <img src="/images/work/childcare/harshani.jpg" class="rounded-full" alt="thamindu-image">

                </div>
                <p class="mt-5 font-semibold text-purple-900  dark:text-slate-400 lg:mt-0">
                  Harshani Bandara
                </p>
              </div>
              <p class="text-sm text-slate-600 dark:text-slate-400 mt-5">
                Undergraduate from Department of Computer Scinece Engineering.
              </p>
              <p class="text-sm text-slate-600 dark:text-slate-400 mt-5">
                University of Moratuwa
              </p>
            </div>
          </div>
          <div>
            <div class="space-y-3">
              <div class="lg:inline-flex lg:items-center lg:gap-3">
                <div
                  class="flex items-center justify-center w-8 h-8 text-blue-500 rounded-full bg-slate-100">
                  <img src="/images/work/childcare/person.jpg" class="rounded-full" alt="thamindu-image">
                </div>
                <p class="mt-5 font-semibold text-purple-900 dark:text-slate-400 lg:mt-0">
                  Thamindu B.
                </p>
              </div>
              <p class="text-sm text-slate-600 dark:text-slate-400 mt-5">
                Undergraduate from Department of Computer Scinece Engineering.
              </p>
              <p class="text-sm text-slate-600 dark:text-slate-400 mt-5">
                University of Moratuwa
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>