<div id="default-carousel" class="relative mt-[100px] w-[90%] max-w-[1100px] mb-16 mx-auto" data-carousel="" >
   <div>
    <h1 class="mb-8 text-4xl font-bold dark:text-slate-300 ">My Works</h1>
   </div>
    <!-- Carousel wrapper -->
    <div class="overflow-hidden relative h-[600px] lg:h-[400px] rounded-lg ">
         <!-- Item 1 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <span class="absolute top-1/2 left-1/2 text-2xl font-semibold text-white -translate-x-1/2 -translate-y-1/2 sm:text-3xl dark:text-gray-800">First Slide</span>
            <div class="flex w-full shrink-0 snap-start flex-col items-center justify-center">
            <figure>
                <div
                  class="h-full group grid grid-cols-1 gap-3 lg:grid-cols-4 lg:gap-3">
                  <!-- description -->
                  <div class="bg-slate-50 p-4 rounded-2xl">
                    <ul
                      role="list"
                      class="grid grid-cols-1 gap-4 list-none lg:pr-12">
                      <li>
                        <div>
                          <p
                            class="font-semibold text-purple-900 text-lg lg:text-xl inline-flex gap-2 items-center">
                            <svg 
                                viewBox="0 0 280 280" 
                                data-background-color="#ffffff" 
                                preserveAspectRatio="xMidYMid meet" height="50" 
                                width="50" 
                                xmlns="http://www.w3.org/2000/svg" 
                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="tight-bounds" transform="matrix(1,0,0,1,0.13999999999998636,0.13992498149775656)"><svg viewBox="0 0 279.72 279.72" height="279.72" width="279.72"><g><svg viewBox="0 0 279.72 279.72" height="279.72" width="279.72"><g><svg viewBox="0 0 279.72 279.72" height="279.72" width="279.72"><g id="textblocktransform"><svg viewBox="0 0 279.72 279.72" height="279.72" width="279.72" id="textblock"><g><svg viewBox="0 0 279.72 279.72" height="279.72" width="279.72"><g transform="matrix(1,0,0,1,84.64481992497508,73.92936372216631)"><svg viewBox="0 0 110.43036015004985 131.8612725556674" height="131.8612725556674" width="110.43036015004985"><g id="icon-0">
                                  <svg 
                                  xmlns="http://www.w3.org/2000/svg" 
                                  xmlns:xlink="http://www.w3.org/1999/xlink" 
                                  version="1.1" x="0" y="0" 
                                  viewBox="33.08007810000001 4.860351812529515 137.7080077 164.4326171874705" 
                                  enable-background="new 0 0 208 176" xml:space="preserve" height="131.8612725556674" 
                                  width="110.43036015004985" class="icon-xg-0" data-fill-palette-color="accent" id="xg-0">
                                  <g fill="#fd6c23" data-fill-palette-color="accent">
                                    <circle cx="104.1953125" cy="22.1220703" r="17" fill="#fd6c23" data-fill-palette-color="accent"></circle>
                                    <path d="M116.672 90.009l0.099 0.095 0.086 0.107 9.692 11.984-0.011-36.591c0-1.371-0.143-2.708-0.376-4.012h17.832c5.109 0 9.248-4.142 9.248-9.249 0-5.107-4.139-9.246-9.248-9.246H63.395c-5.108 0-9.248 4.139-9.248 9.246 0 5.108 4.14 9.25 9.248 9.249h18.769c-0.21 1.172-0.354 2.37-0.378 3.597-0.001 0.055-0.015 14.394-0.032 31.523l5.257-6.501 0.086-0.107 0.098-0.095c2.607-2.542 5.293-3.83 7.985-3.83 3.172 0 5.577 1.854 6.754 3.235 1.178-1.38 3.583-3.235 6.753-3.235C111.381 86.179 114.066 87.467 116.672 90.009z" fill="#fd6c23" data-fill-palette-color="accent"></path><path d="M100.421 91.236c0 0-1.939-2.738-5.241-2.738-1.762 0-3.913 0.78-6.366 3.171l-7.065 8.735-5.056 6.256-6.637 1.669-8.481-10.477-3.615-2.684-10.803-8.129-5.054-13.772c0 0-1.229-3.728-6.171-3.728-0.839 0-1.786 0.109-2.852 0.36l5.517 19.663 15.201 17.109 11.638 30.953 0.648 31.669 17.305-10.096 7.827-4.568-7.479-25.955 5.067-16.816L100.421 91.236z" fill="#fd6c23" data-fill-palette-color="accent"></path><path d="M55.773 71.028C53.55 68.5 49.786 68.107 49.786 68.107l1.682 19.349 7.876 5.85C59.344 93.306 57.997 73.55 55.773 71.028z" fill="#fd6c23" data-fill-palette-color="accent"></path>
                                    <path d="M167.936 69.539c-4.941 0-6.171 3.728-6.171 3.728l-5.674 14.557L145.906 95.168l-3.613 2.684-8.481 10.477-6.636-1.669-0.625-0.772-11.499-14.219c-2.451-2.391-4.603-3.171-6.365-3.171-3.302 0-5.241 2.738-5.241 2.738l11.618 20.622 5.068 16.816-7.481 25.955 10.702 6.245 14.429 8.419 0.65-31.669 11.637-30.953 15.202-17.109 5.517-19.663C169.722 69.648 168.775 69.539 167.936 69.539z" fill="#fd6c23" data-fill-palette-color="accent"></path><path d="M148.093 71.028c-2.222 2.522-3.569 22.277-3.57 22.278l7.876-5.85 1.683-19.349C154.082 68.107 150.317 68.5 148.093 71.028z" fill="#fd6c23" data-fill-palette-color="accent"></path></g></svg></g></svg></g><g id="text-0"><path d="M30.19 93.165l3.488-0.358c0.13 0.511 0.239 1.188 0.327 2.031 0.09 0.837 0.081 1.777-0.028 2.82-0.112 1.035-0.371 2.119-0.775 3.251v0c-0.716 1.93-1.684 3.554-2.903 4.874-1.226 1.318-2.61 2.312-4.154 2.982-1.539 0.679-3.17 1.041-4.892 1.085-1.718 0.053-3.433-0.225-5.143-0.835v0c-1.871-0.667-3.484-1.589-4.84-2.767-1.364-1.173-2.433-2.522-3.208-4.046-0.768-1.522-1.205-3.156-1.311-4.9-0.108-1.738 0.159-3.509 0.802-5.312v0c0.533-1.495 1.221-2.783 2.064-3.862 0.837-1.082 1.688-1.961 2.553-2.638v0l2.64 2.461c-0.707 0.525-1.446 1.205-2.216 2.039-0.761 0.831-1.356 1.847-1.783 3.047v0c-0.437 1.225-0.608 2.464-0.515 3.719 0.1 1.256 0.442 2.457 1.025 3.601 0.578 1.142 1.366 2.159 2.367 3.05 0.994 0.889 2.159 1.571 3.494 2.047v0c1.366 0.487 2.706 0.726 4.021 0.716 1.317-0.016 2.544-0.268 3.682-0.757 1.138-0.489 2.153-1.213 3.043-2.172 0.884-0.961 1.577-2.146 2.079-3.555v0c0.452-1.268 0.661-2.466 0.627-3.595-0.041-1.131-0.189-2.106-0.444-2.926z" fill="#264f0b" data-fill-palette-color="primary"></path>
                                    <path d="M50.286 71.22l-2.172 2.629-21.926-18.112 2.129-2.576 12.919 10.672-0.533-0.339c-0.447-1.039-0.586-2.179-0.417-3.42 0.169-1.241 0.716-2.421 1.64-3.539v0c0.92-1.113 1.995-1.754 3.228-1.922 1.236-0.173 2.384 0.16 3.443 1.001v0l8.666 7.159-2.203 2.667-7.736-6.391c-0.652-0.513-1.328-0.762-2.027-0.747-0.69 0.015-1.339 0.39-1.947 1.125v0c-0.562 0.68-0.875 1.455-0.941 2.324-0.071 0.865 0.097 1.729 0.504 2.591 0.402 0.857 1.028 1.638 1.88 2.34v0z" fill="#264f0b" data-fill-palette-color="primary"></path><path d="M76.417 47.408l-8.439-12.653 2.837-1.892 8.439 12.652zM64.696 30.312v0c-0.297-0.446-0.37-0.943-0.217-1.492 0.156-0.544 0.446-0.957 0.869-1.24v0c0.429-0.286 0.914-0.39 1.454-0.31 0.544 0.085 0.964 0.35 1.261 0.796v0c0.312 0.467 0.399 0.963 0.262 1.487-0.141 0.518-0.427 0.921-0.856 1.207v0c-0.424 0.283-0.917 0.392-1.479 0.326-0.562-0.065-0.993-0.323-1.294-0.774z" fill="#264f0b" data-fill-palette-color="primary"></path><path d="M101.765 34.909l-9.656-26.749 3.208-1.158 9.656 26.749z" fill="#264f0b" data-fill-palette-color="primary"></path><path d="M135.142 29.215v0c-1.397 0.064-2.678-0.214-3.845-0.834-1.173-0.62-2.117-1.531-2.833-2.734-0.716-1.203-1.111-2.614-1.186-4.232v0c-0.078-1.69 0.205-3.149 0.849-4.375 0.637-1.233 1.541-2.196 2.712-2.892 1.172-0.688 2.505-1.067 3.999-1.135v0c1.194-0.055 2.348 0.15 3.462 0.616 1.113 0.459 1.998 1.128 2.652 2.006v0l-0.091 1.221-0.768-16.701 3.377-0.155 1.307 28.409-3.416 0.157-0.174-3.779 0.416 0.933c-0.668 0.966-1.553 1.775-2.655 2.427-1.095 0.646-2.364 1.001-3.806 1.068zM136.066 26.269v0c0.907-0.042 1.709-0.242 2.405-0.602 0.696-0.366 1.262-0.853 1.698-1.461 0.436-0.609 0.734-1.322 0.893-2.14v0l-0.132-2.859c-0.23-0.728-0.608-1.355-1.136-1.88-0.528-0.525-1.148-0.938-1.862-1.239-0.707-0.301-1.491-0.432-2.353-0.392v0c-0.927 0.043-1.765 0.31-2.513 0.802-0.749 0.486-1.341 1.131-1.775 1.936-0.427 0.804-0.617 1.722-0.57 2.754v0c0.046 0.999 0.319 1.885 0.819 2.66 0.507 0.775 1.162 1.382 1.967 1.822 0.805 0.44 1.658 0.64 2.559 0.599z" fill="#264f0b" data-fill-palette-color="primary"></path><path d="M179.857 31.797l1.079 2.584c-0.809 0.321-1.72 0.499-2.731 0.536-1.004 0.032-1.963-0.086-2.878-0.355v0c-1.598-0.469-2.903-1.197-3.915-2.181-1.018-0.987-1.691-2.148-2.02-3.484-0.336-1.338-0.276-2.781 0.179-4.329v0c0.457-1.555 1.211-2.8 2.262-3.738 1.053-0.943 2.254-1.554 3.602-1.832 1.35-0.284 2.693-0.231 4.028 0.161v0c1.178 0.346 2.183 0.822 3.013 1.426 0.832 0.598 1.494 1.276 1.986 2.034v0l-2.238 1.641c-0.331-0.451-0.761-0.898-1.292-1.34-0.539-0.437-1.197-0.77-1.974-0.998v0c-0.846-0.249-1.691-0.258-2.535-0.03-0.842 0.223-1.58 0.649-2.214 1.28-0.635 0.631-1.09 1.416-1.366 2.357v0c-0.261 0.89-0.291 1.78-0.09 2.67 0.195 0.888 0.606 1.659 1.231 2.312 0.623 0.66 1.418 1.131 2.383 1.415v0c0.633 0.186 1.244 0.263 1.832 0.232 0.582-0.033 1.135-0.154 1.658-0.361z" fill="#264f0b" data-fill-palette-color="primary"></path><path d="M205.865 49.915v0c-1.173-0.808-2.066-1.792-2.679-2.952-0.609-1.165-0.854-2.429-0.733-3.79 0.12-1.361 0.666-2.746 1.637-4.155v0c0.96-1.393 2.081-2.398 3.362-3.015 1.291-0.618 2.613-0.862 3.966-0.731 1.353 0.131 2.614 0.599 3.782 1.403v0c1.173 0.808 1.979 1.756 2.419 2.845 0.436 1.094 0.617 2.15 0.542 3.17v0l-0.519 0.356 2.109-2.474 2.598 1.79-8.628 12.525-2.809-1.935 2.252-3.268-0.202 0.932c-0.222 0.149-0.577 0.285-1.066 0.408-0.484 0.127-1.066 0.194-1.746 0.201-0.674 0.011-1.377-0.08-2.108-0.274-0.726-0.19-1.452-0.536-2.177-1.036zM208.216 48.108v0c0.71 0.489 1.438 0.797 2.185 0.922 0.747 0.126 1.468 0.08 2.166-0.138 0.697-0.218 1.349-0.61 1.953-1.177v0l1.685-2.445c0.257-0.719 0.34-1.444 0.248-2.174-0.088-0.735-0.33-1.421-0.724-2.058-0.391-0.642-0.93-1.2-1.619-1.675v0c-0.748-0.515-1.558-0.808-2.431-0.877-0.876-0.064-1.722 0.099-2.538 0.489-0.821 0.386-1.53 1.012-2.127 1.878v0c-0.556 0.807-0.873 1.676-0.95 2.606-0.069 0.929 0.087 1.809 0.465 2.641 0.382 0.827 0.945 1.496 1.687 2.008z" fill="#264f0b" data-fill-palette-color="primary"></path><path d="M242.645 63.186l1.855 2.419-3.296 2.948 0.353-0.506c0.98-0.258 1.953-0.288 2.919-0.09 0.976 0.199 1.852 0.515 2.629 0.948 0.781 0.439 1.358 0.901 1.732 1.388v0l-2.796 1.91c-0.638-0.96-1.425-1.628-2.364-2.003-0.942-0.381-1.904-0.507-2.885-0.381-0.985 0.122-1.867 0.481-2.644 1.077v0l-5.514 4.229-2.057-2.683z" fill="#264f0b" data-fill-palette-color="primary"></path><path d="M248.623 106.422v0c-0.601-1.638-0.791-3.161-0.571-4.571 0.226-1.412 0.794-2.644 1.703-3.694 0.903-1.048 2.09-1.842 3.562-2.382v0c1.405-0.515 2.814-0.629 4.228-0.341 1.408 0.291 2.678 0.907 3.81 1.849 1.126 0.944 1.959 2.152 2.499 3.624v0c0.693 1.889 0.715 3.656 0.065 5.3-0.647 1.65-1.857 3.047-3.629 4.191v0l-8.457-10.248 1.618-1.449 7.068 8.367-0.704-0.525c0.659-0.555 1.153-1.258 1.481-2.109 0.328-0.851 0.302-1.795-0.078-2.831v0c-0.322-0.877-0.823-1.58-1.505-2.11-0.677-0.538-1.455-0.865-2.333-0.981-0.88-0.122-1.792-0.01-2.737 0.336v0c-0.987 0.362-1.78 0.886-2.377 1.572-0.595 0.692-0.972 1.477-1.13 2.355-0.164 0.881-0.077 1.782 0.261 2.702v0c0.227 0.619 0.565 1.181 1.015 1.685 0.443 0.506 0.941 0.942 1.493 1.31v0l-1.83 2.352c-0.746-0.534-1.431-1.187-2.055-1.96-0.621-0.781-1.086-1.595-1.397-2.442z" fill="#264f0b" data-fill-palette-color="primary"></path><path d="M5.641 144.97c0-6 4.864-10.864 10.864-10.864 6 0 10.864 4.864 10.864 10.864 0 6-4.864 10.864-10.864 10.863-6 0-10.864-4.864-10.864-10.863z" fill="#264f0b" data-fill-palette-color="primary"></path><path d="M252.351 144.97c0-6 4.864-10.864 10.864-10.864 6 0 10.864 4.864 10.864 10.864 0 6-4.864 10.864-10.864 10.863-6 0-10.864-4.864-10.864-10.863z" fill="#264f0b" data-fill-palette-color="primary"></path></g><g id="text-1"><path d="M11.012 182.668c-0.606-2.171-0.507-3.891 0.298-5.16 0.807-1.263 2.409-2.23 4.807-2.9v0l2.331-0.651 1.313 4.7-2.973 0.831c-1.189 0.332-1.677 0.879-1.465 1.64v0c0.12 0.428 0.328 0.688 0.626 0.782 0.299 0.1 0.744 0.067 1.335-0.099v0c0.78-0.218 1.4-0.489 1.859-0.814 0.457-0.331 0.818-0.69 1.083-1.076 0.261-0.378 0.649-1.039 1.165-1.984v0l1.49-2.644c1.109-2.026 2.611-3.304 4.505-3.833v0c2.039-0.57 3.724-0.535 5.056 0.104 1.325 0.64 2.239 1.861 2.742 3.66v0c0.601 2.152 0.464 3.859-0.412 5.121-0.875 1.262-2.53 2.233-4.965 2.913v0l-1.358-4.861 1.634-0.487c0.321-0.09 0.548-0.248 0.682-0.475 0.133-0.227 0.155-0.501 0.065-0.822v0c-0.104-0.371-0.282-0.62-0.534-0.746-0.254-0.133-0.557-0.15-0.91-0.051v0c-0.78 0.218-1.464 0.891-2.051 2.018v0l-1.893 3.53c-0.448 0.824-0.896 1.529-1.343 2.115-0.447 0.586-1.018 1.115-1.713 1.588-0.702 0.474-1.581 0.859-2.639 1.154v0c-2.353 0.657-4.258 0.725-5.712 0.202-1.462-0.521-2.469-1.773-3.023-3.755z" fill="#264f0b" data-fill-palette-color="primary"></path><path d="M14.958 194.356c-0.608-1.516-0.519-2.759 0.267-3.729 0.786-0.97 2.116-1.831 3.989-2.583v0c1.54-0.618 2.8-0.891 3.779-0.819 0.988 0.075 1.816 0.394 2.485 0.956 0.675 0.56 1.536 1.478 2.584 2.754v0l0.955 1.116 0.054-0.022 1.955-0.784c0.515-0.207 0.871-0.469 1.068-0.788 0.196-0.318 0.237-0.62 0.122-0.904v0c-0.1-0.249-0.306-0.419-0.617-0.513-0.306-0.096-0.656-0.064-1.05 0.094v0l-1.182 0.475-1.832-4.566 0.645-0.259c1.934-0.776 3.492-0.877 4.673-0.302 1.187 0.573 2.189 1.877 3.007 3.915v0c0.655 1.631 0.762 3.126 0.322 4.485-0.44 1.359-1.439 2.352-2.998 2.977v0l-14.96 6.004-1.873-4.666 2.338-0.938c-0.901 0.087-1.678-0.034-2.332-0.363-0.653-0.329-1.119-0.843-1.399-1.54zM19.349 194.748c0.144 0.358 0.394 0.553 0.753 0.585 0.358 0.032 0.749-0.037 1.173-0.207v0l5.475-2.197c-0.547-0.59-1.093-0.969-1.639-1.137-0.544-0.162-1.182-0.096-1.916 0.198v0l-2.519 1.011c-1.164 0.467-1.606 1.049-1.327 1.747z" fill="#264f0b" data-fill-palette-color="primary"></path><path d="M23.704 212.186l-2.792-5.164 16.995-13.031 2.405 4.448-8.906 6.007-2.947 1.782 3.15-1.469 9.929-4.053 2.405 4.448z" fill="#264f0b" data-fill-palette-color="primary"></path><path d="M29.845 222.283c-1.237-1.798-1.629-3.423-1.177-4.876 0.452-1.453 1.655-2.851 3.609-4.195v0l7-4.815c1.599-1.1 3.137-1.48 4.616-1.14 1.473 0.343 2.776 1.338 3.908 2.985v0c2.303 3.348 1.812 6.151-1.471 8.409v0l-1.267 0.872c-1.27 0.874-2.312 1.567-3.126 2.079v0l-4.16-6.048-3.383 2.327c-0.603 0.415-1.029 0.803-1.279 1.166-0.256 0.366-0.243 0.754 0.038 1.163v0c0.218 0.318 0.471 0.477 0.757 0.478 0.281 0.005 0.554-0.064 0.821-0.208 0.262-0.149 0.63-0.386 1.104-0.712v0l1.688-1.16 2.849 4.142-0.994 0.683c-2.035 1.399-3.801 2.036-5.3 1.909-1.504-0.123-2.915-1.143-4.233-3.059zM39.833 214.116l1.355 1.97 2.245-1.543c1.254-0.863 1.668-1.603 1.243-2.223v0c-0.478-0.694-1.343-0.61-2.598 0.253v0z" fill="#264f0b" data-fill-palette-color="primary"></path><path d="M42.989 238.506c-0.907-0.968-1.327-1.828-1.26-2.578 0.066-0.742 0.549-1.535 1.45-2.38v0l9.642-9.03-0.971-1.037 2.803-2.626 0.972 1.037 3.268-3.061 3.357 3.583-3.269 3.062 0.985 1.051-2.804 2.626-0.985-1.051-8.669 8.119c-0.267 0.25-0.445 0.457-0.533 0.62-0.084 0.159-0.041 0.329 0.129 0.511v0c0.13 0.138 0.262 0.265 0.396 0.38 0.13 0.111 0.216 0.187 0.256 0.23v0l-2.532 2.372c-0.254-0.156-0.599-0.406-1.036-0.748-0.442-0.338-0.841-0.698-1.199-1.08z" fill="#fd6c23" data-fill-palette-color="accent"></path><path d="M46.986 242.176l16.587-18.651 3.888 3.458-3.914 4.401c1.425-0.796 2.706-0.688 3.844 0.323v0c1.069 0.951 1.575 2.009 1.519 3.173-0.052 1.16-0.604 2.331-1.655 3.513v0l-10.829 12.178-3.779-3.361 10.621-11.943c0.304-0.342 0.473-0.694 0.508-1.057 0.035-0.354-0.099-0.665-0.402-0.935v0c-0.259-0.23-0.564-0.3-0.915-0.21-0.351 0.09-0.668 0.294-0.95 0.611v0l-10.634 11.958z" fill="#fd6c23" data-fill-palette-color="accent"></path><path d="M63.739 256.044c-1.79-1.249-2.728-2.632-2.815-4.151-0.087-1.519 0.547-3.251 1.904-5.196v0l4.862-6.968c1.11-1.591 2.417-2.488 3.92-2.689 1.499-0.197 3.069 0.277 4.708 1.421v0c3.333 2.325 3.859 5.122 1.579 8.39v0l-0.881 1.262c-0.882 1.264-1.614 2.279-2.196 3.044v0l-6.019-4.2-2.35 3.367c-0.419 0.6-0.681 1.114-0.788 1.542-0.111 0.433 0.038 0.791 0.445 1.075v0c0.316 0.221 0.608 0.281 0.877 0.181 0.265-0.094 0.497-0.255 0.695-0.482 0.193-0.232 0.455-0.583 0.783-1.055v0l1.172-1.68 4.123 2.877-0.689 0.989c-1.413 2.025-2.843 3.242-4.292 3.649-1.451 0.413-3.131-0.046-5.038-1.376zM70.22 244.888l1.961 1.369 1.559-2.235c0.871-1.248 0.998-2.088 0.382-2.517v0c-0.691-0.482-1.472-0.099-2.343 1.149v0z" fill="#fd6c23" data-fill-palette-color="accent"></path><path d="M82.581 266.647l-4.386-2.073 10.606-22.443 4.625 2.186-3.01 11.714 5.075-10.738 4.332 2.047-10.605 22.443-4.386-2.073 3.058-12.298z" fill="#264f0b" data-fill-palette-color="primary"></path><path d="M97.92 273.028c-2.069-0.694-3.359-1.757-3.871-3.189-0.512-1.433-0.39-3.273 0.364-5.522v0l2.702-8.055c0.617-1.84 1.618-3.068 3.004-3.686 1.383-0.611 3.023-0.599 4.917 0.038v0c3.853 1.292 5.145 3.828 3.878 7.606v0l-0.489 1.458c-0.49 1.462-0.907 2.642-1.249 3.54v0l-6.959-2.334-1.306 3.893c-0.233 0.694-0.34 1.261-0.322 1.7 0.016 0.446 0.259 0.748 0.729 0.907v0c0.365 0.123 0.663 0.098 0.893-0.073 0.228-0.165 0.405-0.385 0.531-0.659 0.12-0.277 0.272-0.687 0.455-1.233v0l0.651-1.941 4.766 1.598-0.383 1.143c-0.785 2.341-1.815 3.912-3.089 4.711-1.276 0.805-3.017 0.838-5.222 0.098zM100.996 260.499l2.267 0.76 0.866-2.582c0.484-1.443 0.37-2.284-0.342-2.524v0c-0.799-0.268-1.441 0.32-1.925 1.763v0z" fill="#264f0b" data-fill-palette-color="primary"></path><path d="M117.333 266.738l1.539 11.277-4.949-1.038-0.879-6.262-3.197 5.407-3.731-0.783 6.121-10.321-1.437-10.334 5.035 1.056 0.728 5.41 2.811-4.667 3.674 0.77z" fill="#264f0b" data-fill-palette-color="primary"></path><path d="M125.18 279.053c-1.317-0.16-2.191-0.549-2.622-1.166-0.426-0.611-0.565-1.529-0.417-2.756v0l1.59-13.114-1.411-0.171 0.462-3.813 1.411 0.171 0.539-4.446 4.874 0.591-0.539 4.445 1.43 0.174-0.462 3.813-1.43-0.173-1.429 11.791c-0.044 0.363-0.047 0.636-0.011 0.818 0.038 0.176 0.18 0.278 0.427 0.308v0c0.188 0.023 0.371 0.035 0.548 0.037 0.171 0.001 0.286 0.005 0.344 0.012v0l-0.417 3.444c-0.295 0.043-0.72 0.074-1.275 0.092-0.556 0.025-1.093 0.006-1.612-0.057z" fill="#264f0b" data-fill-palette-color="primary"></path><path d="M143.123 279.718c-1.79 0.043-3.137-0.559-4.042-1.805-0.912-1.239-1.398-3.139-1.46-5.7v0l-0.255-10.688c-0.055-2.292 0.417-4.035 1.414-5.229 0.991-1.2 2.499-1.824 4.523-1.873v0c1.633-0.039 2.911 0.257 3.835 0.889 0.917 0.632 1.563 1.57 1.939 2.816 0.376 1.239 0.587 2.842 0.635 4.807v0l-4.85 0.116-0.053-2.224c-0.014-0.594-0.107-1.053-0.278-1.375-0.171-0.323-0.469-0.479-0.893-0.469v0c-0.941 0.022-1.396 0.648-1.367 1.876v0l0.287 12.02c0.018 0.751 0.126 1.317 0.325 1.698 0.205 0.381 0.546 0.565 1.023 0.554v0c0.483-0.012 0.818-0.212 1.005-0.602 0.18-0.39 0.261-0.96 0.243-1.712v0l-0.085-3.556-1.332 0.032-0.102-4.271 6.074-0.146 0.345 14.441-1.999 0.048-0.882-2.057c-0.851 1.563-2.201 2.366-4.05 2.41z" fill="#fd6c23" data-fill-palette-color="accent"></path><path d="M159.014 278.381c-2.161 0.3-3.79-0.077-4.886-1.132-1.096-1.055-1.807-2.757-2.134-5.106v0l-1.168-8.415c-0.267-1.922 0.083-3.468 1.048-4.638 0.966-1.163 2.44-1.882 4.42-2.157v0c4.025-0.559 6.312 1.135 6.859 5.083v0l0.212 1.524c0.212 1.527 0.365 2.769 0.458 3.726v0l-7.271 1.009 0.565 4.067c0.101 0.725 0.257 1.28 0.469 1.667 0.213 0.393 0.565 0.555 1.057 0.486v0c0.382-0.053 0.637-0.207 0.767-0.463 0.13-0.249 0.191-0.524 0.182-0.826-0.015-0.301-0.063-0.737-0.142-1.306v0l-0.282-2.029 4.98-0.691 0.165 1.194c0.34 2.446 0.117 4.311-0.667 5.593-0.784 1.289-2.328 2.094-4.632 2.414zM156.188 265.793l2.368-0.329-0.374-2.698c-0.209-1.508-0.686-2.21-1.43-2.107v0c-0.835 0.116-1.147 0.928-0.939 2.436v0z" fill="#fd6c23" data-fill-palette-color="accent"></path><path d="M168.219 276.584l-5.278-20.478 4.897-1.262 0.67 2.6c-0.008-0.895 0.171-1.667 0.537-2.314 0.371-0.656 0.977-1.092 1.818-1.309v0c1.379-0.355 2.507-0.194 3.384 0.484 0.883 0.677 1.526 1.799 1.93 3.369v0l4.075 15.809-4.811 1.24-3.945-15.307c-0.116-0.449-0.303-0.809-0.562-1.079-0.259-0.271-0.575-0.358-0.948-0.262v0c-0.506 0.13-0.78 0.444-0.82 0.94-0.039 0.503 0.04 1.137 0.237 1.902v0l3.713 14.405z" fill="#fd6c23" data-fill-palette-color="accent"></path><path d="M188.902 270.463c-2.035 0.788-3.707 0.794-5.016 0.018-1.309-0.775-2.392-2.269-3.248-4.48v0l-3.067-7.923c-0.701-1.809-0.715-3.394-0.044-4.754 0.674-1.354 1.943-2.392 3.807-3.114v0c3.79-1.467 6.404-0.342 7.843 3.374v0l0.555 1.435c0.557 1.438 0.99 2.612 1.301 3.522v0l-6.845 2.65 1.482 3.829c0.264 0.682 0.544 1.187 0.839 1.514 0.297 0.333 0.677 0.41 1.14 0.231v0c0.359-0.139 0.573-0.348 0.64-0.626 0.07-0.272 0.066-0.554-0.012-0.846-0.084-0.29-0.23-0.703-0.438-1.239v0l-0.739-1.91 4.688-1.815 0.435 1.124c0.892 2.303 1.103 4.169 0.633 5.598-0.467 1.435-1.785 2.572-3.954 3.412zM183.264 258.858l2.23-0.863-0.984-2.541c-0.55-1.42-1.175-1.994-1.875-1.722v0c-0.786 0.304-0.904 1.166-0.355 2.586v0z" fill="#fd6c23" data-fill-palette-color="accent"></path><path d="M197.314 266.689l-9.55-18.868 4.511-2.284 1.058 2.09c-0.147-0.855-0.047-1.627 0.3-2.316 0.356-0.685 0.948-1.238 1.776-1.656v0l1.907 3.768c-0.635 0.322-1.292 0.767-1.97 1.338-0.672 0.567-0.948 0.97-0.827 1.209v0l7.307 14.436z" fill="#fd6c23" data-fill-palette-color="accent"></path><path d="M210.361 259.72c-1.38 0.873-2.619 1.011-3.715 0.414-1.097-0.597-2.185-1.749-3.264-3.455v0c-0.887-1.402-1.384-2.591-1.492-3.568-0.105-0.985 0.058-1.857 0.49-2.617 0.428-0.765 1.174-1.779 2.239-3.04v0l0.925-1.142-0.032-0.049-1.126-1.781c-0.297-0.469-0.62-0.772-0.968-0.907-0.348-0.135-0.652-0.121-0.912 0.044v0c-0.226 0.143-0.357 0.377-0.392 0.7-0.038 0.318 0.056 0.657 0.283 1.015v0l0.681 1.077-4.157 2.63-0.372-0.588c-1.114-1.761-1.496-3.275-1.145-4.54 0.348-1.271 1.449-2.494 3.304-3.668v0c1.485-0.94 2.936-1.316 4.353-1.13 1.417 0.186 2.574 0.989 3.471 2.408v0l8.619 13.623-4.249 2.688-1.346-2.129c0.249 0.871 0.271 1.657 0.066 2.359-0.205 0.702-0.625 1.254-1.261 1.656zM209.95 255.33c0.326-0.206 0.472-0.488 0.439-0.846-0.033-0.358-0.172-0.73-0.417-1.116v0l-3.154-4.986c-0.481 0.645-0.755 1.251-0.821 1.818-0.061 0.564 0.12 1.18 0.543 1.848v0l1.451 2.294c0.671 1.06 1.323 1.389 1.959 0.988z" fill="#fd6c23" data-fill-palette-color="accent"></path><path d="M223.087 250.915c-1.049 0.811-1.945 1.148-2.687 1.011-0.732-0.136-1.476-0.692-2.231-1.668v0l-8.081-10.451-1.124 0.87-2.35-3.039 1.124-0.87-2.739-3.543 3.884-3.003 2.739 3.543 1.14-0.881 2.35 3.039-1.14 0.881 7.265 9.396c0.224 0.289 0.413 0.486 0.568 0.59 0.15 0.098 0.324 0.072 0.52-0.08v0c0.15-0.116 0.289-0.236 0.416-0.359 0.122-0.119 0.207-0.197 0.253-0.233v0l2.122 2.744c-0.179 0.238-0.46 0.558-0.842 0.961-0.378 0.408-0.774 0.772-1.188 1.092z" fill="#fd6c23" data-fill-palette-color="accent"></path><path d="M215.82 227.226l-3.806 3.33-2.316-2.648 3.806-3.329zM230.68 244.213l-3.806 3.329-13.924-15.917 3.806-3.329z" fill="#fd6c23" data-fill-palette-color="accent"></path><path d="M237.183 237.872c-2.916 3.042-5.954 3.049-9.114 0.02v0l-6.134-5.88c-1.443-1.383-2.205-2.892-2.286-4.526-0.076-1.629 0.566-3.154 1.927-4.574v0c1.361-1.42 2.857-2.126 4.488-2.118 1.64 0.007 3.182 0.702 4.626 2.085v0l6.133 5.879c3.16 3.029 3.28 6.067 0.36 9.114zM234.367 235.173c0.28-0.292 0.382-0.611 0.306-0.956-0.076-0.336-0.296-0.678-0.66-1.026v0l-7.463-7.154c-0.891-0.854-1.611-0.996-2.158-0.426v0c-0.547 0.571-0.375 1.283 0.517 2.138v0l7.463 7.154c0.363 0.348 0.716 0.551 1.06 0.609 0.343 0.067 0.655-0.046 0.935-0.339z" fill="#fd6c23" data-fill-palette-color="accent"></path><path d="M243.319 230.717l-16.852-12.777 3.055-4.029 2.14 1.622c-0.562-0.697-0.901-1.413-1.016-2.148-0.116-0.744 0.088-1.462 0.613-2.154v0c0.86-1.135 1.845-1.709 2.953-1.722 1.112-0.018 2.314 0.463 3.604 1.442v0l13.01 9.864-3.001 3.959-12.596-9.55c-0.37-0.28-0.74-0.446-1.111-0.498-0.371-0.052-0.673 0.076-0.906 0.384v0c-0.316 0.416-0.336 0.832-0.059 1.246 0.281 0.418 0.737 0.866 1.367 1.344v0l11.854 8.987z" fill="#fd6c23" data-fill-palette-color="accent">
                                    </path></g>
                                  </svg></g></svg></g></svg></g></svg></g><defs></defs></svg><rect width="279.72" height="279.72" fill="none" stroke="none" visibility="hidden">
                                    </rect></g>
                              </svg> <!-- logo -->
                            ChildCare<span class="lg:block"> </span>
                          </p>
                        </div>
                        <div class="mt-2 text-slate-500 text-sm">
                          
                        </div>
                      </li>
                      <li>
                        <div>
                          <p
                            class="font-semibold text-purple-900 text-lg lg:text-xl">
                            Desktop Application <span class="lg:block"></span>
                          </p>
                        </div>
                        <div class="mt-2 text-slate-500 text-sm">
                          <ul>
                            <li>Simple - Fast - Secured</li>
                            <li>For Prents having Chidren</li>
                            <li>Purpose for Vaccination</li>
                          </ul>
                        </div>
                      </li>
                      <li>
                        <div>
                          <p class="font-semibold text-purple-900 text-sm">
                            Technologies used
                          </p>
                          <ul class="grid grid-cols-2">
                            <li>
                              <div
                              class="mt-2 text-slate-500 text-sm inline-flex items-center gap-2">
                              <svg 
                                xmlns="http://www.w3.org/2000/svg"
                                width="16px" 
                                viewBox="0 0 32 32">
                                <title>file_type_html</title>
                                <polygon points="5.902 27.201 3.655 2 28.345 2 26.095 27.197 15.985 30 5.902 27.201" style="fill:#e44f26"/>
                                <polygon points="16 27.858 24.17 25.593 26.092 4.061 16 4.061 16 27.858" style="fill:#f1662a"/>
                                <polygon points="16 13.407 11.91 13.407 11.628 10.242 16 10.242 16 7.151 15.989 7.151 8.25 7.151 8.324 7.981 9.083 16.498 16 16.498 16 13.407" style="fill:#ebebeb"/>
                                <polygon points="16 21.434 15.986 21.438 12.544 20.509 12.324 18.044 10.651 18.044 9.221 18.044 9.654 22.896 15.986 24.654 16 24.65 16 21.434" style="fill:#ebebeb"/>
                                <polygon points="15.989 13.407 15.989 16.498 19.795 16.498 19.437 20.507 15.989 21.437 15.989 24.653 22.326 22.896 22.372 22.374 23.098 14.237 23.174 13.407 22.341 13.407 15.989 13.407" style="fill:#fff"/>
                                <polygon points="15.989 7.151 15.989 9.071 15.989 10.235 15.989 10.242 23.445 10.242 23.445 10.242 23.455 10.242 23.517 9.548 23.658 7.981 23.732 7.151 15.989 7.151" style="fill:#fff"/>
                            </svg>
                              HTML
                            </div>
                            </li>

                            

                            <li>
                              <div
                              class="mt-2 text-slate-500 text-sm inline-flex items-center gap-2">
                              <svg
                                xmlns="http://www.w3.org/2000/svg" 
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="16px" 
                                viewBox="0 0 32 32">
                                <defs>
                                    <radialGradient id="a" cx="-16.114" cy="20.532" r="18.384" gradientTransform="translate(26.52 -9.307)" gradientUnits="userSpaceOnUse">
                                        <stop offset="0" stop-color="#fff"/>
                                        <stop offset="0.5" stop-color="#4c6b96"/>
                                        <stop offset="1" stop-color="#231f20"/>
                                    </radialGradient>
                                </defs>
                                <title>file_type_php</title>
                                <ellipse cx="16" cy="16" rx="14" ry="7.365" style="fill:url(#a)"/>
                                <ellipse cx="16" cy="16" rx="13.453" ry="6.818" style="fill:#6280b6"/>
                                <path d="M18.725,18.2l.667-3.434a1.752,1.752,0,0,0-.372-1.719,2.929,2.929,0,0,0-2-.525H15.867l.331-1.7a.219.219,0,0,0-.215-.26h-1.6a.219.219,0,0,0-.215.177l-.709,3.646a2.051,2.051,0,0,0-.477-1.054,2.783,2.783,0,0,0-2.2-.807H7.7a.219.219,0,0,0-.215.177l-1.434,7.38a.219.219,0,0,0,.215.26H7.869a.219.219,0,0,0,.215-.177l.347-1.785h1.2a5.167,5.167,0,0,0,1.568-.2,3.068,3.068,0,0,0,1.15-.689,3.538,3.538,0,0,0,.68-.844l-.287,1.475a.219.219,0,0,0,.215.26h1.6a.219.219,0,0,0,.215-.177l.787-4.051h1.094c.466,0,.6.093.64.133s.1.165.025.569l-.635,3.265a.219.219,0,0,0,.215.26h1.62A.219.219,0,0,0,18.725,18.2ZM11.33,15.366a1.749,1.749,0,0,1-.561,1.092,2.171,2.171,0,0,1-1.315.321H8.742l.515-2.651h.921c.677,0,.949.145,1.059.266A1.181,1.181,0,0,1,11.33,15.366Z" style="fill:#fff"/>
                                <path d="M25.546,13.332a2.783,2.783,0,0,0-2.2-.807H20.255a.219.219,0,0,0-.215.177l-1.434,7.38a.219.219,0,0,0,.215.26h1.608a.219.219,0,0,0,.215-.177l.347-1.785h1.2a5.167,5.167,0,0,0,1.568-.2,3.068,3.068,0,0,0,1.15-.689,3.425,3.425,0,0,0,1.076-1.927A2.512,2.512,0,0,0,25.546,13.332Zm-1.667,2.034a1.749,1.749,0,0,1-.561,1.092A2.171,2.171,0,0,1,22,16.778H21.29l.515-2.651h.921c.677,0,.949.145,1.059.266A1.181,1.181,0,0,1,23.879,15.366Z" style="fill:#fff"/>
                                <path d="M10.178,13.908a1.645,1.645,0,0,1,1.221.338,1.34,1.34,0,0,1,.145,1.161,1.945,1.945,0,0,1-.642,1.223A2.361,2.361,0,0,1,9.454,17H8.476l.6-3.089ZM6.261,20.124H7.869l.381-1.962H9.627a4.931,4.931,0,0,0,1.5-.191,2.84,2.84,0,0,0,1.07-.642,3.207,3.207,0,0,0,1.01-1.808,2.3,2.3,0,0,0-.385-2.044,2.568,2.568,0,0,0-2.035-.732H7.7Z" style="fill:#000004"/>
                                <path d="M14.387,10.782h1.6L15.6,12.744h1.421a2.767,2.767,0,0,1,1.85.468,1.548,1.548,0,0,1,.305,1.516l-.667,3.434H16.89l.635-3.265a.886.886,0,0,0-.08-.76,1.121,1.121,0,0,0-.8-.2H15.37l-.822,4.228h-1.6Z" style="fill:#000004"/>
                                <path d="M22.727,13.908a1.645,1.645,0,0,1,1.221.338,1.34,1.34,0,0,1,.145,1.161,1.945,1.945,0,0,1-.642,1.223A2.361,2.361,0,0,1,22,17h-.978l.6-3.089ZM18.81,20.124h1.608l.381-1.962h1.377a4.931,4.931,0,0,0,1.5-.191,2.84,2.84,0,0,0,1.07-.642,3.207,3.207,0,0,0,1.01-1.808,2.3,2.3,0,0,0-.385-2.044,2.568,2.568,0,0,0-2.035-.732H20.244Z" style="fill:#000004"/>
                            </svg>
                               PHP
                            </div>
                            </li>

                            <li>
                              <div
                              class="mt-2 text-slate-500 text-sm inline-flex items-center gap-2">
                              <svg 
                                height="16px" 
                                style="enable-background:new 0 0 512 512;" 
                                version="1.1" 
                                viewBox="0 0 512 512" 
                                width="16px" 
                                xml:space="preserve" 
                                xmlns="http://www.w3.org/2000/svg" 
                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="_x31_21-css3">
                                    <g>
                                        <g>
                                            <g>
                                                <g>
                                                <path d="M47.575,16.379L85.6,447.023l170.751,47.852l170.686-47.822l38.092-430.674H47.575z        M47.575,16.379" style="fill:#2299F8;"/>
                                                </g>
                                                <path d="M383.824,157.206l-4.801,54.098l-14.5,162.185l-108.172,29.994l-0.094,0.027l-108.119-30.021      l-7.541-84.817h52.968l3.938,43.992l58.785,15.908l0.029-0.027l58.875-15.912l8.023-73.3l-185.154,0.512l-5.251-50.125      l194.844-2.306l3.943-53.648l-204.005,0.572l-3.43-49.913h264.369L383.824,157.206z M383.824,157.206" style="fill:#FCFCFC;"/>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                                <g id="Layer_1"/>
                              </svg>
                              CSS
                            </div>
                            </li>

                            <li>
                              <div
                              class="mt-2 text-slate-500 text-sm inline-flex items-center gap-2">
                              <svg
                                  viewBox="0 0 576 512"
                                  fill="purple"
                                  width="16px" 
                                  xmlns="http://www.w3.org/2000/svg">
                                  <path d="M333.5,201.4c0-22.1-15.6-34.3-43-34.3h-50.4v71.2h42.5C315.4,238.2,333.5,225,333.5,201.4z M517,188.6 c-9.5-30.9-10.9-68.8-9.8-98.1c1.1-30.5-22.7-58.5-54.7-58.5H123.7c-32.1,0-55.8,28.1-54.7,58.5c1,29.3-0.3,67.2-9.8,98.1 c-9.6,31-25.7,50.6-52.2,53.1v28.5c26.4,2.5,42.6,22.1,52.2,53.1c9.5,30.9,10.9,68.8,9.8,98.1c-1.1,30.5,22.7,58.5,54.7,58.5h328.7 c32.1,0,55.8-28.1,54.7-58.5c-1-29.3,0.3-67.2,9.8-98.1c9.6-31,25.7-50.6,52.1-53.1v-28.5C542.7,239.2,526.5,219.6,517,188.6z M300.2,375.1h-97.9V136.8h97.4c43.3,0,71.7,23.4,71.7,59.4c0,25.3-19.1,47.9-43.5,51.8v1.3c33.2,3.6,55.5,26.6,55.5,58.3 C383.4,349.7,352.1,375.1,300.2,375.1z M290.2,266.4h-50.1v78.4h52.3c34.2,0,52.3-13.7,52.3-39.5 C344.7,279.6,326.1,266.4,290.2,266.4z"/>
                              </svg>
                               Bootstrap
                            </div>
                            </li>

                            <li>
                              <div
                              class="mt-2 text-slate-500 text-sm inline-flex items-center gap-2">
                              <svg 
                                  xmlns="http://www.w3.org/2000/svg" 
                                  width="16" height="16" viewBox="0 0 25.6 25.6">
                                  <path d="M179.076 94.886c-3.568-.1-6.336.268-8.656 1.25-.668.27-1.74.27-1.828 1.116.357.355.4.936.713 1.428.535.893 1.473 2.096 2.32 2.72l2.855 2.053c1.74 1.07 3.703 1.695 5.398 2.766.982.625 1.963 1.428 2.945 2.098.5.357.803.938 1.428 1.16v-.135c-.312-.4-.402-.98-.713-1.428l-1.34-1.293c-1.293-1.74-2.9-3.258-4.64-4.506-1.428-.982-4.55-2.32-5.13-3.97l-.088-.1c.98-.1 2.14-.447 3.078-.715 1.518-.4 2.9-.312 4.46-.713l2.143-.625v-.4c-.803-.803-1.383-1.874-2.23-2.632-2.275-1.963-4.775-3.882-7.363-5.488-1.383-.892-3.168-1.473-4.64-2.23-.537-.268-1.428-.402-1.74-.848-.805-.98-1.25-2.275-1.83-3.436l-3.658-7.763c-.803-1.74-1.295-3.48-2.275-5.086-4.596-7.585-9.594-12.18-17.268-16.687-1.65-.937-3.613-1.34-5.7-1.83l-3.346-.18c-.715-.312-1.428-1.16-2.053-1.562-2.543-1.606-9.102-5.086-10.977-.5-1.205 2.9 1.785 5.755 2.8 7.228.76 1.026 1.74 2.186 2.277 3.346.3.758.4 1.562.713 2.365.713 1.963 1.383 4.15 2.32 5.98.5.937 1.025 1.92 1.65 2.767.357.5.982.714 1.115 1.517-.625.893-.668 2.23-1.025 3.347-1.607 5.042-.982 11.288 1.293 15 .715 1.115 2.4 3.57 4.686 2.632 2.008-.803 1.56-3.346 2.14-5.577.135-.535.045-.892.312-1.25v.1l1.83 3.703c1.383 2.186 3.793 4.462 5.8 5.98 1.07.803 1.918 2.187 3.256 2.677v-.135h-.088c-.268-.4-.67-.58-1.027-.892-.803-.803-1.695-1.785-2.32-2.677-1.873-2.498-3.523-5.265-4.996-8.12-.715-1.383-1.34-2.9-1.918-4.283-.27-.536-.27-1.34-.715-1.606-.67.98-1.65 1.83-2.143 3.034-.848 1.918-.936 4.283-1.248 6.737-.18.045-.1 0-.18.1-1.426-.356-1.918-1.83-2.453-3.078-1.338-3.168-1.562-8.254-.402-11.913.312-.937 1.652-3.882 1.117-4.774-.27-.848-1.16-1.338-1.652-2.008-.58-.848-1.203-1.918-1.605-2.855-1.07-2.5-1.605-5.265-2.766-7.764-.537-1.16-1.473-2.365-2.232-3.435-.848-1.205-1.783-2.053-2.453-3.48-.223-.5-.535-1.294-.178-1.83.088-.357.268-.5.623-.58.58-.5 2.232.134 2.812.4 1.65.67 3.033 1.294 4.416 2.23.625.446 1.295 1.294 2.098 1.518h.938c1.428.312 3.033.1 4.37.5 2.365.76 4.506 1.874 6.426 3.08 5.844 3.703 10.664 8.968 13.92 15.26.535 1.026.758 1.963 1.25 3.034.938 2.187 2.098 4.417 3.033 6.56.938 2.097 1.83 4.24 3.168 5.98.67.937 3.346 1.427 4.55 1.918.893.4 2.275.76 3.08 1.25 1.516.937 3.033 2.008 4.46 3.034.713.534 2.945 1.65 3.078 2.54zm-45.5-38.772a7.09 7.09 0 0 0-1.828.223v.1h.088c.357.714.982 1.205 1.428 1.83l1.027 2.142.088-.1c.625-.446.938-1.16.938-2.23-.268-.312-.312-.625-.535-.937-.268-.446-.848-.67-1.206-1.026z" transform="matrix(.390229 0 0 .38781 -46.300037 -16.856717)" fill-rule="evenodd" fill="#00678c"/>
                              </svg>
                               
                               MySQl
                            </div>
                            </li>
                          </ul>
                        </div>
                        
                        
                      </li>
                    </ul>
                  </div>
                  <!-- image -->
                  <div class="relative lg:col-span-3">
                    <div
                      class="relative overflow-hidden rounded-2xl bg-purple-600 p-8 z-50 shadow-xl lg:py-12 lg:grid lg:grid-cols-2 lg:gap-x-8">
                      <div
                        class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
                        <img
                          src="images/work/childcareManagement.png"
                          alt=""
                          class="h-full w-full object-cover"
                        />
                      </div>
                      <div class="relative lg:col-span-1">
                        <svg 
                        xmlns="http://www.w3.org/2000/svg" 
                        version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" 
                        width="40" height="40" 
                        viewBox="0 0 128 128">
                        <g transform="matrix(0.8046875,0,0,0.8046875,12.47610440724442,3.153405337985042)">
                        <svg viewBox="0 0 80 95" data-background-color="#ffffff" preserveAspectRatio="xMidYMid meet" height="152" width="128" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="tight-bounds" transform="matrix(1,0,0,1,0.018605033978943197,-0.24050900037673273)">
                        <svg viewBox="0 0 79.96283528232739 95.481" height="95.481" width="79.96283528232739"><g>
                        <svg viewBox="0 0 79.96283528232739 95.481" height="95.481" width="79.96283528232739"><g>
                        <svg viewBox="0 0 79.96283528232739 95.481" height="95.481" width="79.96283528232739">
                        <g id="textblocktransform">
                        <svg viewBox="0 0 79.96283528232739 95.481" height="95.481" width="79.96283528232739" id="textblock"><g>
                        <svg viewBox="0 0 79.96283528232739 95.481" height="95.481" width="79.96283528232739"><g>
                        <svg viewBox="0 0 79.96283528232739 95.481" height="95.481" width="79.96283528232739"><g>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0" y="0" viewBox="33.08007810000001 4.860351812529515 137.7080077 164.4326171874705" enable-background="new 0 0 208 176" xml:space="preserve" height="95.481" width="79.96283528232739" class="icon-icon-0" data-fill-palette-color="accent" id="icon-0"><g fill="#fd6c23" data-fill-palette-color="accent"><circle cx="104.1953125" cy="22.1220703" r="17" fill="#fd6c23" data-fill-palette-color="accent"></circle>
                        <path d="M116.672 90.009l0.099 0.095 0.086 0.107 9.692 11.984-0.011-36.591c0-1.371-0.143-2.708-0.376-4.012h17.832c5.109 0 9.248-4.142 9.248-9.249 0-5.107-4.139-9.246-9.248-9.246H63.395c-5.108 0-9.248 4.139-9.248 9.246 0 5.108 4.14 9.25 9.248 9.249h18.769c-0.21 1.172-0.354 2.37-0.378 3.597-0.001 0.055-0.015 14.394-0.032 31.523l5.257-6.501 0.086-0.107 0.098-0.095c2.607-2.542 5.293-3.83 7.985-3.83 3.172 0 5.577 1.854 6.754 3.235 1.178-1.38 3.583-3.235 6.753-3.235C111.381 86.179 114.066 87.467 116.672 90.009z" fill="#fd6c23" data-fill-palette-color="accent"></path>
                        <path d="M100.421 91.236c0 0-1.939-2.738-5.241-2.738-1.762 0-3.913 0.78-6.366 3.171l-7.065 8.735-5.056 6.256-6.637 1.669-8.481-10.477-3.615-2.684-10.803-8.129-5.054-13.772c0 0-1.229-3.728-6.171-3.728-0.839 0-1.786 0.109-2.852 0.36l5.517 19.663 15.201 17.109 11.638 30.953 0.648 31.669 17.305-10.096 7.827-4.568-7.479-25.955 5.067-16.816L100.421 91.236z" fill="#fd6c23" data-fill-palette-color="accent"></path>
                        <path d="M55.773 71.028C53.55 68.5 49.786 68.107 49.786 68.107l1.682 19.349 7.876 5.85C59.344 93.306 57.997 73.55 55.773 71.028z" fill="#fd6c23" data-fill-palette-color="accent"></path>
                        <path d="M167.936 69.539c-4.941 0-6.171 3.728-6.171 3.728l-5.674 14.557L145.906 95.168l-3.613 2.684-8.481 10.477-6.636-1.669-0.625-0.772-11.499-14.219c-2.451-2.391-4.603-3.171-6.365-3.171-3.302 0-5.241 2.738-5.241 2.738l11.618 20.622 5.068 16.816-7.481 25.955 10.702 6.245 14.429 8.419 0.65-31.669 11.637-30.953 15.202-17.109 5.517-19.663C169.722 69.648 168.775 69.539 167.936 69.539z" fill="#fd6c23" data-fill-palette-color="accent"></path>
                        <path d="M148.093 71.028c-2.222 2.522-3.569 22.277-3.57 22.278l7.876-5.85 1.683-19.349C154.082 68.107 150.317 68.5 148.093 71.028z" fill="#fd6c23" data-fill-palette-color="accent"></path></g>
                        </svg></g></svg></g></svg></g></svg></g></svg></g></svg></g><defs></defs>
                        </svg><rect width="79.96283528232739" height="95.481" fill="none" stroke="none" visibility="hidden"></rect></g>
                        </svg></g>
                    </svg>
                        <blockquote class="mt-6 text-white lg:mt-24">
                          <p class="font-medium">
                            Arranging vaccination programmes 
                            for the children without expose them to the community in Covid-19 pandamic period.
                          </p>
                          <p class="mt-6">
                            <a
                              href="/my-projects/childcare-app"
                              class="text-white hover:text-blue-100 inline-flex items-center group">
                              See More 
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20"
                                fill="currentColor"
                                class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                                <path
                                  fill-rule="evenodd"
                                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                  clip-rule="evenodd"></path>
                              </svg>
                            </a>
                          </p>
                        </blockquote>
                      </div>
                    </div>
                  </div>
                </div>
              </figure>
            </div>
        </div>
        <!-- Item 2 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <!-- <img src="https://img.freepik.com/free-photo/abstract-colorful-splash-3d-background-generative-ai-background_60438-2493.jpg?size=626&ext=jpg&uid=R92348575&ga=GA1.1.1829962931.1701429942&semt=sph" class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2" alt="..."> -->
            <div class="flex w-full shrink-0 snap-start flex-col items-center justify-center">
                <figure>
                    <div
                      class="h-full group grid grid-cols-1 gap-3 lg:grid-cols-4 lg:gap-3">
                      <div class="bg-slate-50 p-4 rounded-2xl">
                        <ul
                          role="list"
                          class="grid grid-cols-1 gap-4 list-none lg:pr-12">
                          <li>
                            <div>
                              <p
                                class="font-semibold text-blue-500-500 text-lg lg:text-xl">
                                1
                              </p>
                            </div>
                            <div class="mt-2 text-slate-500 text-sm">
                              Processor for all credit card payments
                            </div>
                          </li>
                          <li>
                            <div>
                              <p
                                class="font-semibold text-purple-900 text-lg lg:text-xl">
                                $2 million
                              </p>
                            </div>
                            <div class="mt-2 text-slate-500 text-sm">
                              Additional revenue from Card Account Updater
                            </div>
                          </li>
                          <li>
                            <div>
                              <p class="font-semibold text-purple-900 text-sm">
                                Products used
                              </p>
                            </div>
                            <div
                              class="mt-2 text-slate-500 text-sm inline-flex items-center">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="w-4 h-4 mr-3">
                                <path
                                  class="stroke-purple-500"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  d="M15.59 14.37a6 6 0 01-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 006.16-12.12A14.98 14.98 0 009.631 8.41m5.96 5.96a14.926 14.926 0 01-5.841 2.58m-.119-8.54a6 6 0 00-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 00-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 01-2.448-2.448 14.9 14.9 0 01.06-.312m-2.24 2.39a4.493 4.493 0 00-1.757 4.306 4.493 4.493 0 004.306-1.758M16.5 9a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z">
                                </path>
                              </svg>
                              Deployments
                            </div>
                            <div
                              class="mt-2 text-slate-500 text-sm inline-flex items-center">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="w-4 h-4 mr-3">
                                <path
                                  class="stroke-purple-500"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  d="M20.893 13.393l-1.135-1.135a2.252 2.252 0 01-.421-.585l-1.08-2.16a.414.414 0 00-.663-.107.827.827 0 01-.812.21l-1.273-.363a.89.89 0 00-.738 1.595l.587.39c.59.395.674 1.23.172 1.732l-.2.2c-.212.212-.33.498-.33.796v.41c0 .409-.11.809-.32 1.158l-1.315 2.191a2.11 2.11 0 01-1.81 1.025 1.055 1.055 0 01-1.055-1.055v-1.172c0-.92-.56-1.747-1.414-2.089l-.655-.261a2.25 2.25 0 01-1.383-2.46l.007-.042a2.25 2.25 0 01.29-.787l.09-.15a2.25 2.25 0 012.37-1.048l1.178.236a1.125 1.125 0 001.302-.795l.208-.73a1.125 1.125 0 00-.578-1.315l-.665-.332-.091.091a2.25 2.25 0 01-1.591.659h-.18c-.249 0-.487.1-.662.274a.931.931 0 01-1.458-1.137l1.411-2.353a2.25 2.25 0 00.286-.76m11.928 9.869A9 9 0 008.965 3.525m11.928 9.868A9 9 0 118.965 3.525"
                                ></path>
                              </svg>
                              Analytics
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="relative lg:col-span-3">
                        <div
                          class="relative overflow-hidden rounded-2xl bg-purple-600 p-8 shadow-xl lg:py-12 lg:grid lg:grid-cols-2 lg:gap-x-8">
                          <div
                            class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
                            <img
                              src="https://images.unsplash.com/photo-1556157382-97eda2d62296?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80"
                              alt=""
                              class="h-full w-full object-cover"
                            />
                          </div>
                          <div class="relative lg:col-span-1">
                            <span>
                              <img src="/images/integrations/zapier.svg" alt="" />
                            </span>
                            <blockquote class="mt-6 text-white lg:mt-24">
                              <p class="font-medium">
                                Spaziobianco has Economy growth upswing market index
                                funds capitalization corporate bonds mutual.
                              </p>
                              <p class="mt-6">
                                <a
                                  href=""
                                  class="text-white hover:text-blue-100 inline-flex items-center group">
                                  Read case study
                                  <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="currentColor"
                                    class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                                    <path
                                      fill-rule="evenodd"
                                      d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                      clip-rule="evenodd"></path>
                                  </svg>
                                </a>
                              </p>
                            </blockquote>
                          </div>
                        </div>
                      </div>
                    </div>
                  </figure>
                </div>
        </div>
        <!-- Item 3 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <span class="absolute top-1/2 left-1/2 text-2xl font-semibold text-white -translate-x-1/2 -translate-y-1/2 sm:text-3xl dark:text-gray-800">Second Slide</span>  
            <div class="flex w-full shrink-0 snap-start flex-col items-center justify-center">
                <figure>
                    <div
                      class="h-full group grid grid-cols-1 gap-3 lg:grid-cols-4 lg:gap-3">
                      <!-- description -->
                      <div class="bg-slate-50 p-4 rounded-2xl">
                        <ul
                          role="list"
                          class="grid grid-cols-1 gap-4 list-none lg:pr-12">
                          <li>
                            <div>
                              <p
                                class="font-semibold text-blue-500-500 text-lg lg:text-xl">
                                Airline Reservation System
                              </p>
                            </div>
                            <div class="mt-2 text-slate-500 text-sm">
                            </div>
                          </li>
                          <li>
                            <div>
                              <p
                                class="font-semibold text-purple-900 text-lg lg:text-xl">
                                Desktop Application
                              </p>
                            </div>
                            <div class="mt-2 text-slate-500 text-sm">
                              <ul>
                                <li>Realtime - faset - reliable</li>
                                <li>For travellers of B airways</li>
                                <li>Purpose for Booking Aireline</li>
                              </ul>                            
                            </div>
                          </li>
                          <li>
                            <div>
                              <p class="font-semibold text-purple-900 text-sm">
                                Technologies used
                              </p>
                              <ul class="grid grid-cols-2">
                                <li>
                                  <div
                                  class="mt-2 text-slate-500 text-sm inline-flex items-center gap-2">
                                  <svg 
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="16px" 
                                    viewBox="0 0 32 32">
                                    <title>file_type_html</title>
                                    <polygon points="5.902 27.201 3.655 2 28.345 2 26.095 27.197 15.985 30 5.902 27.201" style="fill:#e44f26"/>
                                    <polygon points="16 27.858 24.17 25.593 26.092 4.061 16 4.061 16 27.858" style="fill:#f1662a"/>
                                    <polygon points="16 13.407 11.91 13.407 11.628 10.242 16 10.242 16 7.151 15.989 7.151 8.25 7.151 8.324 7.981 9.083 16.498 16 16.498 16 13.407" style="fill:#ebebeb"/>
                                    <polygon points="16 21.434 15.986 21.438 12.544 20.509 12.324 18.044 10.651 18.044 9.221 18.044 9.654 22.896 15.986 24.654 16 24.65 16 21.434" style="fill:#ebebeb"/>
                                    <polygon points="15.989 13.407 15.989 16.498 19.795 16.498 19.437 20.507 15.989 21.437 15.989 24.653 22.326 22.896 22.372 22.374 23.098 14.237 23.174 13.407 22.341 13.407 15.989 13.407" style="fill:#fff"/>
                                    <polygon points="15.989 7.151 15.989 9.071 15.989 10.235 15.989 10.242 23.445 10.242 23.445 10.242 23.455 10.242 23.517 9.548 23.658 7.981 23.732 7.151 15.989 7.151" style="fill:#fff"/>
                                </svg>
                                  HTML
                                </div>
                                </li>
                                <li>
                                  <div
                                  class="mt-2 text-slate-500 text-sm inline-flex items-center gap-2">
                                  <svg
                                    xmlns="http://www.w3.org/2000/svg" 
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="16px" 
                                    viewBox="0 0 32 32">
                                    <defs>
                                        <radialGradient id="a" cx="-16.114" cy="20.532" r="18.384" gradientTransform="translate(26.52 -9.307)" gradientUnits="userSpaceOnUse">
                                            <stop offset="0" stop-color="#fff"/>
                                            <stop offset="0.5" stop-color="#4c6b96"/>
                                            <stop offset="1" stop-color="#231f20"/>
                                        </radialGradient>
                                    </defs>
                                    <title>file_type_php</title>
                                    <ellipse cx="16" cy="16" rx="14" ry="7.365" style="fill:url(#a)"/>
                                    <ellipse cx="16" cy="16" rx="13.453" ry="6.818" style="fill:#6280b6"/>
                                    <path d="M18.725,18.2l.667-3.434a1.752,1.752,0,0,0-.372-1.719,2.929,2.929,0,0,0-2-.525H15.867l.331-1.7a.219.219,0,0,0-.215-.26h-1.6a.219.219,0,0,0-.215.177l-.709,3.646a2.051,2.051,0,0,0-.477-1.054,2.783,2.783,0,0,0-2.2-.807H7.7a.219.219,0,0,0-.215.177l-1.434,7.38a.219.219,0,0,0,.215.26H7.869a.219.219,0,0,0,.215-.177l.347-1.785h1.2a5.167,5.167,0,0,0,1.568-.2,3.068,3.068,0,0,0,1.15-.689,3.538,3.538,0,0,0,.68-.844l-.287,1.475a.219.219,0,0,0,.215.26h1.6a.219.219,0,0,0,.215-.177l.787-4.051h1.094c.466,0,.6.093.64.133s.1.165.025.569l-.635,3.265a.219.219,0,0,0,.215.26h1.62A.219.219,0,0,0,18.725,18.2ZM11.33,15.366a1.749,1.749,0,0,1-.561,1.092,2.171,2.171,0,0,1-1.315.321H8.742l.515-2.651h.921c.677,0,.949.145,1.059.266A1.181,1.181,0,0,1,11.33,15.366Z" style="fill:#fff"/>
                                    <path d="M25.546,13.332a2.783,2.783,0,0,0-2.2-.807H20.255a.219.219,0,0,0-.215.177l-1.434,7.38a.219.219,0,0,0,.215.26h1.608a.219.219,0,0,0,.215-.177l.347-1.785h1.2a5.167,5.167,0,0,0,1.568-.2,3.068,3.068,0,0,0,1.15-.689,3.425,3.425,0,0,0,1.076-1.927A2.512,2.512,0,0,0,25.546,13.332Zm-1.667,2.034a1.749,1.749,0,0,1-.561,1.092A2.171,2.171,0,0,1,22,16.778H21.29l.515-2.651h.921c.677,0,.949.145,1.059.266A1.181,1.181,0,0,1,23.879,15.366Z" style="fill:#fff"/>
                                    <path d="M10.178,13.908a1.645,1.645,0,0,1,1.221.338,1.34,1.34,0,0,1,.145,1.161,1.945,1.945,0,0,1-.642,1.223A2.361,2.361,0,0,1,9.454,17H8.476l.6-3.089ZM6.261,20.124H7.869l.381-1.962H9.627a4.931,4.931,0,0,0,1.5-.191,2.84,2.84,0,0,0,1.07-.642,3.207,3.207,0,0,0,1.01-1.808,2.3,2.3,0,0,0-.385-2.044,2.568,2.568,0,0,0-2.035-.732H7.7Z" style="fill:#000004"/>
                                    <path d="M14.387,10.782h1.6L15.6,12.744h1.421a2.767,2.767,0,0,1,1.85.468,1.548,1.548,0,0,1,.305,1.516l-.667,3.434H16.89l.635-3.265a.886.886,0,0,0-.08-.76,1.121,1.121,0,0,0-.8-.2H15.37l-.822,4.228h-1.6Z" style="fill:#000004"/>
                                    <path d="M22.727,13.908a1.645,1.645,0,0,1,1.221.338,1.34,1.34,0,0,1,.145,1.161,1.945,1.945,0,0,1-.642,1.223A2.361,2.361,0,0,1,22,17h-.978l.6-3.089ZM18.81,20.124h1.608l.381-1.962h1.377a4.931,4.931,0,0,0,1.5-.191,2.84,2.84,0,0,0,1.07-.642,3.207,3.207,0,0,0,1.01-1.808,2.3,2.3,0,0,0-.385-2.044,2.568,2.568,0,0,0-2.035-.732H20.244Z" style="fill:#000004"/>
                                </svg>
                                   PHP
                                </div>
                                </li>
                                <li>
                                  <div
                                  class="mt-2 text-slate-500 text-sm inline-flex items-center gap-2">
                                  <svg 
                                    height="16px" 
                                    style="enable-background:new 0 0 512 512;" 
                                    version="1.1" 
                                    viewBox="0 0 512 512" 
                                    width="16px" 
                                    xml:space="preserve" 
                                    xmlns="http://www.w3.org/2000/svg" 
                                    xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="_x31_21-css3">
                                        <g>
                                            <g>
                                                <g>
                                                    <g>
                                                    <path d="M47.575,16.379L85.6,447.023l170.751,47.852l170.686-47.822l38.092-430.674H47.575z        M47.575,16.379" style="fill:#2299F8;"/>
                                                    </g>
                                                    <path d="M383.824,157.206l-4.801,54.098l-14.5,162.185l-108.172,29.994l-0.094,0.027l-108.119-30.021      l-7.541-84.817h52.968l3.938,43.992l58.785,15.908l0.029-0.027l58.875-15.912l8.023-73.3l-185.154,0.512l-5.251-50.125      l194.844-2.306l3.943-53.648l-204.005,0.572l-3.43-49.913h264.369L383.824,157.206z M383.824,157.206" style="fill:#FCFCFC;"/>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                    <g id="Layer_1"/>
                                  </svg>
                                  CSS
                                </div>
                                </li>
                                <li>
                                  <div
                                  class="mt-2 text-slate-500 text-sm inline-flex items-center gap-2">
                                  <svg
                                      viewBox="0 0 576 512"
                                      fill="purple"
                                      width="16px" 
                                      xmlns="http://www.w3.org/2000/svg">
                                      <path d="M333.5,201.4c0-22.1-15.6-34.3-43-34.3h-50.4v71.2h42.5C315.4,238.2,333.5,225,333.5,201.4z M517,188.6 c-9.5-30.9-10.9-68.8-9.8-98.1c1.1-30.5-22.7-58.5-54.7-58.5H123.7c-32.1,0-55.8,28.1-54.7,58.5c1,29.3-0.3,67.2-9.8,98.1 c-9.6,31-25.7,50.6-52.2,53.1v28.5c26.4,2.5,42.6,22.1,52.2,53.1c9.5,30.9,10.9,68.8,9.8,98.1c-1.1,30.5,22.7,58.5,54.7,58.5h328.7 c32.1,0,55.8-28.1,54.7-58.5c-1-29.3,0.3-67.2,9.8-98.1c9.6-31,25.7-50.6,52.1-53.1v-28.5C542.7,239.2,526.5,219.6,517,188.6z M300.2,375.1h-97.9V136.8h97.4c43.3,0,71.7,23.4,71.7,59.4c0,25.3-19.1,47.9-43.5,51.8v1.3c33.2,3.6,55.5,26.6,55.5,58.3 C383.4,349.7,352.1,375.1,300.2,375.1z M290.2,266.4h-50.1v78.4h52.3c34.2,0,52.3-13.7,52.3-39.5 C344.7,279.6,326.1,266.4,290.2,266.4z"/>
                                  </svg>
                                   Bootstrap
                                </div>
                                </li>
                                <li>
                                  <div
                                  class="mt-2 text-slate-500 text-sm inline-flex items-center gap-2">
                                  <svg 
                                      xmlns="http://www.w3.org/2000/svg" 
                                      width="16" height="16" viewBox="0 0 25.6 25.6">
                                      <path d="M179.076 94.886c-3.568-.1-6.336.268-8.656 1.25-.668.27-1.74.27-1.828 1.116.357.355.4.936.713 1.428.535.893 1.473 2.096 2.32 2.72l2.855 2.053c1.74 1.07 3.703 1.695 5.398 2.766.982.625 1.963 1.428 2.945 2.098.5.357.803.938 1.428 1.16v-.135c-.312-.4-.402-.98-.713-1.428l-1.34-1.293c-1.293-1.74-2.9-3.258-4.64-4.506-1.428-.982-4.55-2.32-5.13-3.97l-.088-.1c.98-.1 2.14-.447 3.078-.715 1.518-.4 2.9-.312 4.46-.713l2.143-.625v-.4c-.803-.803-1.383-1.874-2.23-2.632-2.275-1.963-4.775-3.882-7.363-5.488-1.383-.892-3.168-1.473-4.64-2.23-.537-.268-1.428-.402-1.74-.848-.805-.98-1.25-2.275-1.83-3.436l-3.658-7.763c-.803-1.74-1.295-3.48-2.275-5.086-4.596-7.585-9.594-12.18-17.268-16.687-1.65-.937-3.613-1.34-5.7-1.83l-3.346-.18c-.715-.312-1.428-1.16-2.053-1.562-2.543-1.606-9.102-5.086-10.977-.5-1.205 2.9 1.785 5.755 2.8 7.228.76 1.026 1.74 2.186 2.277 3.346.3.758.4 1.562.713 2.365.713 1.963 1.383 4.15 2.32 5.98.5.937 1.025 1.92 1.65 2.767.357.5.982.714 1.115 1.517-.625.893-.668 2.23-1.025 3.347-1.607 5.042-.982 11.288 1.293 15 .715 1.115 2.4 3.57 4.686 2.632 2.008-.803 1.56-3.346 2.14-5.577.135-.535.045-.892.312-1.25v.1l1.83 3.703c1.383 2.186 3.793 4.462 5.8 5.98 1.07.803 1.918 2.187 3.256 2.677v-.135h-.088c-.268-.4-.67-.58-1.027-.892-.803-.803-1.695-1.785-2.32-2.677-1.873-2.498-3.523-5.265-4.996-8.12-.715-1.383-1.34-2.9-1.918-4.283-.27-.536-.27-1.34-.715-1.606-.67.98-1.65 1.83-2.143 3.034-.848 1.918-.936 4.283-1.248 6.737-.18.045-.1 0-.18.1-1.426-.356-1.918-1.83-2.453-3.078-1.338-3.168-1.562-8.254-.402-11.913.312-.937 1.652-3.882 1.117-4.774-.27-.848-1.16-1.338-1.652-2.008-.58-.848-1.203-1.918-1.605-2.855-1.07-2.5-1.605-5.265-2.766-7.764-.537-1.16-1.473-2.365-2.232-3.435-.848-1.205-1.783-2.053-2.453-3.48-.223-.5-.535-1.294-.178-1.83.088-.357.268-.5.623-.58.58-.5 2.232.134 2.812.4 1.65.67 3.033 1.294 4.416 2.23.625.446 1.295 1.294 2.098 1.518h.938c1.428.312 3.033.1 4.37.5 2.365.76 4.506 1.874 6.426 3.08 5.844 3.703 10.664 8.968 13.92 15.26.535 1.026.758 1.963 1.25 3.034.938 2.187 2.098 4.417 3.033 6.56.938 2.097 1.83 4.24 3.168 5.98.67.937 3.346 1.427 4.55 1.918.893.4 2.275.76 3.08 1.25 1.516.937 3.033 2.008 4.46 3.034.713.534 2.945 1.65 3.078 2.54zm-45.5-38.772a7.09 7.09 0 0 0-1.828.223v.1h.088c.357.714.982 1.205 1.428 1.83l1.027 2.142.088-.1c.625-.446.938-1.16.938-2.23-.268-.312-.312-.625-.535-.937-.268-.446-.848-.67-1.206-1.026z" transform="matrix(.390229 0 0 .38781 -46.300037 -16.856717)" fill-rule="evenodd" fill="#00678c"/>
                                  </svg>
                                   
                                   MySQl
                                </div>
                                </li>
                              </ul>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <!-- image -->
                      <div class="relative lg:col-span-3">
                        <div
                          class="relative overflow-hidden rounded-2xl bg-purple-600 p-8 shadow-xl lg:py-12 lg:grid lg:grid-cols-2 lg:gap-x-8">
                          <div
                            class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
                            <img
                              src="https://images.unsplash.com/photo-1556157382-97eda2d62296?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80"
                              alt=""
                              class="h-full w-full object-cover"
                            />
                          </div>
                          <div class="relative lg:col-span-1">
                            <span>
                              <img src="/images/integrations/spotify.svg" alt="" />
                            </span>
                            <blockquote class="mt-6 text-white lg:mt-24">
                              <p class="font-medium">
                                Efficiently manages flight schedules, passenger reservations, and ticket records, enhancing operational efficiency.
                              </p>
                              <p class="mt-6">
                                <a
                                  href=""
                                  class="text-white hover:text-blue-100 inline-flex items-center group">
                                  See More
                                  <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="currentColor"
                                    class="w-4 h-4 ml-3  group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                                    <path
                                      fill-rule="evenodd"
                                      d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                      clip-rule="evenodd"></path>
                                  </svg>
                                </a>
                              </p>
                            </blockquote>
                          </div>
                        </div>
                      </div>
                    </div>
                  </figure>
                </div>
        </div>
    </div>
    <!-- Slider indicators -->
    <div x-data="{currentSlide === 0}"  class="flex absolute -bottom-8 left-1/2 z-30 mx-auto bg-[#1F2348] dark:bg-[#1B1E3E] w-[17%] rounded-5xl justify-center py-[14px] space-x-3 -translate-x-1/2">
        <button type="button"   class="w-3 h-3 border-[#5e525e] border-[1px]  rounded-full" aria-current="false" aria-label="Slide 1" data-carousel-slide-to="0"  :></button>
        <button type="button"   class="w-3 h-3 border-[#5e525e] border-[1px]  rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
        <button type="button"   class="w-3 h-3 border-[#5e525e] border-[1px]  rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
    </div>
    <!-- Slider controls -->
    <button type="button" class="flex flex-col absolute top-8 left-[20%] z-30 justify-end items-start px-4 h-full cursor-pointer group focus:outline-none" data-carousel-prev>
        <span class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-[#242852] dark:bg-[#1B1E3E] group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
            <span class="hidden">Previous</span>
        </span>
    </button>
    <button type="button" class="flex flex-col items-start absolute top-8 right-[20%] z-30 justify-end  px-4 h-full cursor-pointer group focus:outline-none" data-carousel-next>
        <span class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-[#242852] dark:bg-[#1B1E3E] group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
            <span class="hidden">Next</span>
        </span>
    </button>
</div>